// Demo purposes only!

@font-face {
    font-family: Oswald;
    font-style: normal;
    src: local('Oswald'), url('../font/oswald.woff2') format('woff2');
}

@font-face {
    font-family: SofiaPro;
    font-style: normal;
    src: local('SofiaPro'), url('../font/SofiaPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: SofiaPro;
    font-style: normal;
    font-weight: bold;
    src: local('SofiaPro'), url('../font/SofiaPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: SofiaPro;
    font-style: normal;
    font-weight: 700;
    src: local('SofiaPro'), url('../font/SofiaPro-Black.woff2') format('woff2');
}

body {
    background: white;
}

main * {
    color: #261a63 !important;
    font-family: SofiaPro, sans-serif;
}

.adyen-fp {
    &-amount {
        &--positive {
            color: #28a745;
        }

        &--negative {
            color: #ff5570;
        }
    }

    &-data-grid {
        border: 1px solid #ff5570;

        &__cell {
            border: none !important;
        }

        &__head .adyen-pe-data-grid__row .adyen-pe-data-grid__cell {
            background: rgba(255, 85, 112, 0.05);
            color: #ff5570;
            font-size: 16px;
            font-weight: 600;
            text-transform: none;
        }
    }

    &-button {
        border-radius: 8px;

        &--filter.adyen-pe-button--active {
            background: #ff5570;
            border: 1px solid #ff5570;

            .adyen-pe-button__text {
                color: white !important;
            }
        }

        &--filter.adyen-pe-button--active .adyen-pe-button__text:after {
            top: 0;
        }

        &--link {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #ff5570;
            color: inherit;
            padding: 0 !important;
            margin: 0 !important;

            &:hover {
                border-bottom-color: #ffb266;
                text-decoration: none;
            }
        }
    }

    &-stats-bar {
        border: 1px solid transparent;

        &__label {
            font-size: 16px;
            font-weight: bold;
        }

        &__value {
            color: #ffb266 !important;
            font-weight: bold;
            font-size: 28px;
        }
    }

    &-transaction .adyen-pe-stats-bar {
        background: rgba(255, 178, 102, 0.1);

        &__value {
            color: #ffb266 !important;
        }
    }

    &-balance-account .adyen-pe-stats-bar {
        background: rgba(255, 113, 90, 0.1);

        &__value {
            color: #ff715a !important;
        }
    }

    &-account-holder .adyen-pe-stats-bar {
        background: rgba(255, 85, 112, 0.1);

        &__value {
            color: #ff5570 !important;
        }
    }

    &-subtitle {
        text-transform: none;
        font-size: 22px;
    }

    &-label {
        font-size: 16px;
        font-family: Oswald;
    }

    &-title {
        font-size: 28px;
    }

    &-details-section {
        border: none;
    }
}

//#ffc85f;

//border: 1px solid #ffba35;
