// Demo purposes only!
$color-blue-light: rgba(229, 245, 255, 1);
$color-blue-dark: rgba(0, 59, 117, 1);
$color-blueee: #0073e6;
$color-green: rgba(54, 161, 141, 1);
$color-red: #ff4b4b;

@font-face {
    font-family: 'Outfit';
    src: local('Outfit'), url('../font/outfit.ttf') format('truetype');
}

body {
    background: radial-gradient(54.69% 84.91% at 28.8% 80%, rgba(84, 65, 124, 0.3) 0%, rgba(1, 5, 32, 0.3) 100%), #010520;
}

main {
    font-size: 18px;

    * {
        font-family: outfit, sans-serif;
        color: $color-blue-dark;
    }
}

.adyen-fp {
    &-amount {
        &--positive {
            color: $color-green;
        }

        &--negative {
            color: $color-red;
        }
    }

    &-button {
        border-color: transparent;
        border-width: 2px;
        border-radius: 12px;

        &--filter.adyen-fp-button--active {
            background: white;
            border-width: 2px;
        }

        &--reset .adyen-fp-button__text {
            color: white !important;

            &:before {
                content: none !important;
            }
        }

        &--link {
            color: $color-blue;
            text-decoration: underline;
        }
    }

    &-data-grid {
        &--outline {
            border-radius: 12px;
            --tw-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            --tw-shadow-colored: 0 4px 16px var(--tw-shadow-color);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        }

        &__cell {
            border: none;
        }

        &__head .adyen-fp-data-grid__row .adyen-fp-data-grid__cell {
            background: $color-blue-light;
            color: $color-blue-dark;
            font-size: 16px;
            font-weight: 600;
            text-transform: none;
        }
    }

    &-stats-bar__label,
    &-label,
    &-subtitle {
        color: $color-blue-dark;
    }

    &-title {
        color: white;
        font-weight: normal;
        font-size: 32px;
    }

    &-subtitle {
        text-transform: none;
        font-size: 24px;
    }

    &-stats-bar {
        --tw-bg-opacity: 1;
        background-color: rgba(229, 245, 255, var(--tw-bg-opacity));
    }

    &-details-section {
        border: none;
        background: none;

        * {
            color: white;
        }

        .adyen-fp-balances__title {
            overflow: visible;
        }

        .adyen-fp-tag {
            background: $color-blue-dark;
            color: $color-blue-light;
            text-transform: uppercase;
        }

        .adyen-fp-balances__container {
            border: 1px solid $color-blue-light;
            border-radius: 12px;
        }

        .adyen-fp-balances__scrollable-area {
            padding: $spacing-medium;
            //    border: 1px solid $color-blue-light;
            //    border-radius: 12px;
            //    padding: $spacing-medium;
        }
    }
}
