@use '@integration-components/style';
@use '@integration-components/style/breakpoints' as breakpoints;

.adyen-pe-transaction-insights-totals {
    &__breakdowns {
        display: grid;
        gap: style.token(spacer-100) calc(#{style.token(spacer-110)} * 2);
        grid-template-columns: 1fr;

        @include breakpoints.adyen-pe-screen-md-and-up {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            position: relative;
        }
    }

    &__divider {
        display: none;

        @include breakpoints.adyen-pe-screen-md-and-up {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__breakdown {
        min-width: 0;
        overflow: hidden;
    }

    & &__breakdowns &__breakdown-list {
        @include breakpoints.adyen-pe-screen-md-and-up {
            margin-inline: unset;
        }
    }

    .adyen-pe-transaction-amount-display {
        &__amount {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: style.token(spacer-070);
        }
    }
}
