@use '@integration-components/style';
@use '@integration-components/style/breakpoints' as breakpoints;

.adyen-pe-transaction-insights-totals {
    &__breakdowns {
        display: grid;
        gap: style.token(spacer-100) style.token(spacer-120);
        grid-template-columns: 1fr;
        margin-top: style.token(spacer-070);

        @include breakpoints.adyen-pe-screen-md-and-up {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            position: relative;
        }
    }

    &__divider {
        display: none;

        @include breakpoints.adyen-pe-screen-md-and-up {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__breakdown {
        min-width: 0;
        overflow: hidden;
    }

    & &__breakdowns &__breakdown-list {
        .b-data-grid-columns {
            display: none;
        }

        @include breakpoints.adyen-pe-screen-md-and-up {
            margin-inline: unset;
        }
    }

    .adyen-pe-transaction-amount-display {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        margin-bottom: style.token(spacer-070);

        @include breakpoints.adyen-pe-screen-md-and-up {
            padding-inline: style.token(spacer-070);
        }

        &__amount {
            align-items: baseline;
            display: flex;
            flex-wrap: nowrap;
            gap: style.token(spacer-020);
        }
    }
}
