@use '@integration-components/style' as style;

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
}

.header {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-020);
}

.description {
    color: style.token(color-label-secondary);
    margin-bottom: style.token(spacer-040);
}

.toolbar {
    align-items: center;
    display: flex;
    gap: style.token(spacer-040);
}
