@use '../../../style';

.adyen-pe-card {
    background-color: style.token(color-background-primary);
    border: style.token(border-width-s) solid style.token(color-outline-primary);
    border-radius: style.token(border-radius-m);
    overflow: hidden;
    padding: style.token(spacer-070);

    &--no-padding {
        padding: 0;
    }

    &--filled {
        background-color: style.token(color-background-secondary);
    }

    &--no-outline {
        border: 0;
    }

    &--clickable {
        cursor: pointer;
    }

    &--with-footer {
        padding-bottom: style.token(spacer-070);
    }

    &__body {
        color: style.token(color-label-primary);
        font-weight: style.token(text-body-strongest-font-weight);
        line-height: style.token(text-caption-line-height);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding-top: style.token(spacer-070);
    }

    &__header {
        border-bottom: style.token(color-outline-secondary) 1px solid;
        display: block;
        padding: style.token(spacer-040) style.token(spacer-070) style.token(spacer-020);
        width: 100%;
    }

    &__header-content {
        flex: 1;
    }

    &__title {
        font-size: style.token(font-size-medium);
        font-weight: style.token(font-size-300);
        line-height: style.token(line-height-300);
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        align-items: center;
        color: style.token(color-label-secondary);
        display: flex;
        flex: none;
        flex-grow: 0;
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-font-weight);
        line-height: style.token(text-body-line-height);
    }
}
