@use '@integration-components/style' as style;

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
}

.value {
    color: style.token(color-label-highlight);
}

.rangeLabels {
    display: flex;
    justify-content: space-between;
    margin-bottom: style.token(spacer-030);
}

.rangeLabel {
    display: flex;
    flex-direction: column;

    :first-child {
        color: style.token(color-label-secondary);
    }

    &:last-child {
        align-items: flex-end;
    }
}
