@use '../../../../../../style';

.adyen-pe-transactions-table {
    &__amount {
        display: block;
        font-weight: style.token(text-body-stronger-font-weight);
        text-align: right;
    }

    &__payment-method {
        align-items: center;
        display: flex;
        gap: style.token(spacer-030);
        line-height: 1;
    }

    &__payment-method-logo-container {
        height: style.token(spacer-090);
        width: style.token(spacer-100);
    }

    &__payment-method-logo {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__date-and-payment-method {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);

        &--date {
            color: style.token(color-label-secondary);
        }
    }
}
