$color: (
    'color-background-primary': #111111,
    'color-background-primary-hover': #2a2a2a,
    'color-background-primary-active': #363636,
    'color-background-secondary': #2a2a2a,
    'color-background-secondary-hover': #363636,
    'color-background-secondary-active': #444444,
    'color-background-tertiary': #3d3d3d,
    'color-background-tertiary-hover': #4b4b4b,
    'color-background-tertiary-active': #525252,
    'color-background-quaternary': #525252,
    'color-background-quaternary-hover': #525252,
    'color-background-quaternary-active': #6e6e6e,
    'color-background-modal': #363636,
    'color-background-modal-hover': #444444,
    'color-background-modal-active': #525252,
    'color-background-disabled': #363636,
    'color-background-selected': #00305f,
    'color-background-selected-hover': #003d79,
    'color-background-selected-active': #004a94,
    'color-background-critical-weak': #5c1800,
    'color-background-critical-strong': #ff9a78,
    'color-background-critical-strong-hover': #ffbda6,
    'color-background-critical-strong-active': #ffded3,
    'color-background-warning-weak': #462a00,
    'color-background-warning-weak-hover': #593500,
    'color-background-warning-weak-active': #6d4100,
    'color-background-warning-strong': #ff9e11,
    'color-background-success-weak': #00381d,
    'color-background-success-strong': #00d16a,
    'color-background-highlight-weak': #00305f,
    'color-background-highlight-strong': #84b9ed,
    'color-background-inverse-primary': #ededed,
    'color-background-inverse-primary-hover': #cbcbcb,
    'color-background-inverse-primary-active': #b4b4b4,
    'color-background-inverse-secondary': #d5d5d5,
    'color-background-inverse-secondary-hover': #bcbcbc,
    'color-background-inverse-secondary-active': #9c9c9c,
    'color-background-inverse-disabled': #ededed,
    'color-background-inverse-critical-weak': #fff3ef,
    'color-background-inverse-critical-strong': #dc3801,
    'color-background-inverse-critical-strong-hover': #c13101,
    'color-background-inverse-critical-strong-active': #751e00,
    'color-background-always-light': #ededed,
    'color-background-always-light-hover': #cbcbcb,
    'color-background-always-light-active': #9c9c9c,
    'color-background-always-light-disabled': #dddddd,
    'color-background-always-light-selected': #d4e6f9,
    'color-background-always-dark-primary': #111111,
    'color-background-always-dark-primary-hover': #232323,
    'color-background-always-dark-primary-active': #303030,
    'color-background-always-dark-primary-disabled': #ededed,
    'color-background-always-dark-primary-selected': #00305f,
    'color-background-always-dark-secondary': #303030,
    'color-background-always-dark-secondary-hover': #444444,
    'color-background-always-dark-secondary-active': #525252,
    'color-background-always-dark-secondary-disabled': #ededed,
    'color-background-always-dark-secondary-selected': #303030,
    'color-background-always-dark-tertiary': #3d3d3d,
    'color-background-always-dark-tertiary-hover': #4b4b4b,
    'color-background-always-dark-tertiary-active': #525252,
    'color-background-always-dark-tertiary-disabled': #ededed,
    'color-background-always-dark-tertiary-selected': #00305f,
    'color-label-primary': #ededed,
    'color-label-primary-hover': #cbcbcb,
    'color-label-primary-active': #b4b4b4,
    'color-label-secondary': #a4a4a4,
    'color-label-tertiary': #7d7d7d,
    'color-label-disabled': #7d7d7d,
    'color-label-critical': #ff9a78,
    'color-label-critical-hover': #ffbda6,
    'color-label-critical-active': #ffded3,
    'color-label-warning': #ff9e11,
    'color-label-highlight': #84b9ed,
    'color-label-success': #00d16a,
    'color-label-on-color': #111111,
    'color-label-inverse-primary': #111111,
    'color-label-inverse-primary-hover': #2a2a2a,
    'color-label-inverse-primary-active': #363636,
    'color-label-inverse-secondary': #676767,
    'color-label-inverse-disabled': #949494,
    'color-label-inverse-critical': #dc3801,
    'color-label-inverse-critical-hover': #c13101,
    'color-label-inverse-critical-active': #751e00,
    'color-label-on-background-critical-weak': #ff9a78,
    'color-label-on-background-warning-weak': #ff9e11,
    'color-label-on-background-success-weak': #00d16a,
    'color-label-on-background-highlight-weak': #84b9ed,
    'color-label-always-light-primary': #ededed,
    'color-label-always-light-primary-hover': #cbcbcb,
    'color-label-always-light-primary-active': #9c9c9c,
    'color-label-always-light-secondary': #acacac,
    'color-label-always-light-secondary-hover': #9c9c9c,
    'color-label-always-light-secondary-active': #7d7d7d,
    'color-label-always-light-tertiary': #8c8c8c,
    'color-label-always-light-tertiary-hover': #7d7d7d,
    'color-label-always-light-tertiary-active': #606060,
    'color-label-always-dark': #111111,
    'color-link-primary': #84b9ed,
    'color-link-primary-hover': #4a98e5,
    'color-link-primary-active': #4a98e5,
    'color-link-primary-disabled': #9c9c9c,
    'color-link-primary-visited': #d0a3ec,
    'color-link-primary-visited-hover': #ba79e3,
    'color-link-primary-visited-active': #ba79e3,
    'color-link-quiet': #ededed,
    'color-link-quiet-hover': #cbcbcb,
    'color-link-quiet-active': #cbcbcb,
    'color-link-quiet-disabled': #9c9c9c,
    'color-outline-primary': #444444,
    'color-outline-primary-hover': #525252,
    'color-outline-primary-active': #ededed,
    'color-outline-secondary': #525252,
    'color-outline-secondary-hover': #6e6e6e,
    'color-outline-secondary-active': #ededed,
    'color-outline-tertiary': #949494,
    'color-outline-tertiary-hover': #bcbcbc,
    'color-outline-tertiary-active': #ededed,
    'color-outline-disabled': #525252,
    'color-outline-selected': #ededed,
    'color-outline-critical': #ff9a78,
    'color-outline-critical-hover': #ffbda6,
    'color-outline-critical-active': #ffded3,
    'color-outline-success': #00d16a,
    'color-outline-success-hover': #64e3a4,
    'color-outline-success-active': #b8f2d6,
    'color-outline-inverse-primary': #cbcbcb,
    'color-outline-inverse-primary-hover': #bcbcbc,
    'color-outline-inverse-primary-active': #ededed,
    'color-outline-inverse-disabled': #dadddf,
    'color-outline-inverse-critical': #dc3801,
    'color-outline-inverse-critical-hover': #c13101,
    'color-outline-inverse-critical-active': #751e00,
    'color-separator-primary': #444444,
    'color-separator-secondary': #525252,
    'color-separator-inverse-primary': #cbcbcb,
    'color-separator-inverse-secondary': #9c9c9c,
    'color-decorative-green': #00d16a,
    'color-decorative-blue': #006bd7,
    'color-decorative-yellow': #f9c500,
    'color-decorative-orange': #f99300,
    'color-decorative-red': #f73f01,
    'color-decorative-black': #848d96,
    'color-support-overlay': #000000,
    'color-support-shadow': '#000000',
) !default;
