$color: (
    'color-background-primary': #ffffff,
    'color-background-primary-hover': #f4f5f6,
    'color-background-primary-active': #ecedef,
    'color-background-secondary': #f4f5f6,
    'color-background-secondary-hover': #ecedef,
    'color-background-secondary-active': #e2e5e7,
    'color-background-tertiary': #ecedef,
    'color-background-tertiary-hover': #e2e5e7,
    'color-background-tertiary-active': #dadddf,
    'color-background-quaternary': #c0c5ca,
    'color-background-quaternary-hover': #b7bdc2,
    'color-background-quaternary-active': #aeb5ba,
    'color-background-modal': #ffffff,
    'color-background-modal-hover': #f4f5f6,
    'color-background-modal-active': #ecedef,
    'color-background-disabled': #ecedef,
    'color-background-selected': #e3effb,
    'color-background-selected-hover': #d4e6f9,
    'color-background-selected-active': #c8dff7,
    'color-background-spotlight': #ffe379,
    'color-background-critical-weak': #fff3ef,
    'color-background-critical-strong': #dc3801,
    'color-background-critical-strong-hover': #c13101,
    'color-background-critical-strong-active': #751e00,
    'color-background-warning-weak': #fff4e5,
    'color-background-warning-weak-hover': #ffecd0,
    'color-background-warning-weak-active': #ffe0b3,
    'color-background-warning-strong': #d77f00,
    'color-background-success-weak': #e4faef,
    'color-background-success-strong': #008845,
    'color-background-highlight-weak': #f0f6fd,
    'color-background-highlight-strong': #0f75dc,
    'color-background-inverse-primary': #001222,
    'color-background-inverse-primary-hover': #5c6874,
    'color-background-inverse-primary-active': #6c7782,
    'color-background-inverse-secondary': #1a2b3b,
    'color-background-inverse-secondary-hover': #273746,
    'color-background-inverse-secondary-active': #364553,
    'color-background-inverse-disabled': #273746,
    'color-background-inverse-critical-weak': #5c1800,
    'color-background-inverse-critical-strong': #ff9a78,
    'color-background-inverse-critical-strong-hover': #ffbda6,
    'color-background-inverse-critical-strong-active': #ffded3,
    'color-background-always-light': #ffffff,
    'color-background-always-light-hover': #f4f5f6,
    'color-background-always-light-active': #ecedef,
    'color-background-always-light-disabled': #ecedef,
    'color-background-always-light-selected': #e3effb,
    'color-background-always-dark': #001222,
    'color-background-always-dark-hover': #5c6874,
    'color-background-always-dark-active': #8c959d,
    'color-background-always-dark-disabled': #ecedef,
    'color-background-always-dark-selected': #00305f,
    'color-background-always-dark-primary': #001222,
    'color-background-always-dark-primary-hover': #132434,
    'color-background-always-dark-primary-active': #213140,
    'color-background-always-dark-primary-disabled': #ecedef,
    'color-background-always-dark-primary-selected': #00305f,
    'color-background-always-dark-secondary': #213140,
    'color-background-always-dark-secondary-hover': #364553,
    'color-background-always-dark-secondary-active': #455460,
    'color-background-always-dark-secondary-disabled': #ecedef,
    'color-background-always-dark-secondary-selected': #00305f,
    'color-background-always-dark-tertiary': #2f3e4d,
    'color-background-always-dark-tertiary-hover': #3d4c5a,
    'color-background-always-dark-tertiary-active': #455460,
    'color-background-always-dark-tertiary-disabled': #ecedef,
    'color-background-always-dark-tertiary-selected': #00305f,
    'color-label-primary': #001222,
    'color-label-primary-hover': #5c6874,
    'color-label-primary-active': #6c7782,
    'color-label-secondary': #5c6874,
    'color-label-tertiary': #8c959d,
    'color-label-disabled': #8c959d,
    'color-label-critical': #dc3801,
    'color-label-critical-hover': #c13101,
    'color-label-critical-active': #751e00,
    'color-label-warning': #ab6600,
    'color-label-highlight': #0f75dc,
    'color-label-success': #008845,
    'color-label-on-color': #ffffff,
    'color-label-inverse-primary': #ffffff,
    'color-label-inverse-primary-hover': #f4f5f6,
    'color-label-inverse-primary-active': #ecedef,
    'color-label-inverse-secondary': #9da5ac,
    'color-label-inverse-disabled': #737e88,
    'color-label-inverse-critical': #ff9a78,
    'color-label-inverse-critical-hover': #ffbda6,
    'color-label-inverse-critical-active': #ffded3,
    'color-label-on-background-critical-weak': #c13101,
    'color-label-on-background-warning-weak': #955900,
    'color-label-on-background-success-weak': #00773c,
    'color-label-on-background-highlight-weak': #0065c9,
    'color-label-always-light': #ffffff,
    'color-label-always-light-primary': #ecedef,
    'color-label-always-light-primary-hover': #c8ccd0,
    'color-label-always-light-primary-active': #959da5,
    'color-label-always-light-secondary': #a6adb3,
    'color-label-always-light-secondary-hover': #959da5,
    'color-label-always-light-secondary-active': #737e88,
    'color-label-always-light-tertiary': #848d96,
    'color-label-always-light-tertiary-hover': #737e88,
    'color-label-always-light-tertiary-active': #54616d,
    'color-label-always-dark': #001222,
    'color-link-primary': #0065c9,
    'color-link-primary-hover': #0f75dc,
    'color-link-primary-active': #0f75dc,
    'color-link-primary-disabled': #8c959d,
    'color-link-primary-visited': #540884,
    'color-link-primary-visited-hover': #710ab3,
    'color-link-primary-visited-active': #710ab3,
    'color-link-quiet': #001222,
    'color-link-quiet-hover': #5c6874,
    'color-link-quiet-active': #5c6874,
    'color-link-quiet-disabled': #8c959d,
    'color-outline-primary': #dadddf,
    'color-outline-primary-hover': #c8ccd0,
    'color-outline-primary-active': #001222,
    'color-outline-secondary': #c8ccd0,
    'color-outline-secondary-hover': #b7bdc2,
    'color-outline-secondary-active': #001222,
    'color-outline-tertiary': #8c959d,
    'color-outline-tertiary-hover': #6c7782,
    'color-outline-tertiary-active': #001222,
    'color-outline-disabled': #dadddf,
    'color-outline-selected': #001222,
    'color-outline-critical': #dc3801,
    'color-outline-critical-hover': #c13101,
    'color-outline-critical-active': #751e00,
    'color-outline-success': #008845,
    'color-outline-success-hover': #00773c,
    'color-outline-success-active': #004724,
    'color-outline-inverse-primary': #2f3e4d,
    'color-outline-inverse-primary-hover': #6c7782,
    'color-outline-inverse-primary-active': #9da5ac,
    'color-outline-inverse-disabled': #455460,
    'color-outline-inverse-critical': #ff9a78,
    'color-outline-inverse-critical-hover': #ffbda6,
    'color-outline-inverse-critical-active': #ffded3,
    'color-separator-primary': #dadddf,
    'color-separator-secondary': #c8ccd0,
    'color-separator-inverse-primary': #2f3e4d,
    'color-separator-inverse-secondary': #5c6874,
    'color-decorative-green': #00d16a,
    'color-decorative-blue': #006bd7,
    'color-decorative-yellow': #f9c500,
    'color-decorative-orange': #f99300,
    'color-decorative-red': #f73f01,
    'color-decorative-grey': #848d96,
    'color-support-overlay': #001222,
    'color-support-shadow': '#001222',
) !default;

$focus-ring: (
    'focus-ring-color': rgba(15, 117, 220, 0.8),
    'focus-ring-spacer': 1px,
    'focus-ring-outline': 3px,
) !default;

$text: (
    'text-font-variant-numeric': normal,
    'text-rich-text-heading-margin': 32px 0 10px 0,
    'text-rich-text-heading-font-weight': 700,
    'text-rich-text-paragraph-margin': 0 0 8px 0,
    'text-rich-text-list-padding-left': 20px,
    'text-rich-text-list-margin': 0 0 4px 0,
    'text-rich-text-code-background-color': #f4f5f6,
    'text-rich-text-code-font-family': "'Adyen Mono', 'Roboto Mono', 'Oxygen Mono', 'IBM Plex Mono', 'Courier New', monospace",
    'text-rich-text-code-font-weight': 500,
    'text-rich-text-pre-margin': 16px 0 16px 0,
    'text-rich-text-pre-padding': 10px 16px,
    'text-rich-text-pre-line-height': 24px,
    'text-rich-text-mark-background-color': #f0f6fd,
    'text-rich-text-blockquote-font-weight': 500,
    'text-rich-text-blockquote-margin': 16px 0 16px 16px,
    'text-rich-text-table-border': 1px solid #dadddf,
    'text-rich-text-table-line-height': 20px,
    'text-rich-text-table-margin': 16px 0 16px 0,
    'text-rich-text-table-padding': 10px 16px,
    'text-rich-text-table-header-font-weight': 700,
    'text-rich-text-table-caption-line-height': 20px,
    'text-rich-text-table-caption-margin': 0 0 6px 0,
    'text-rich-text-caption-paragraph-margin': 0 0 6px 0,
    'text-rich-text-caption-list-padding-left': 16px,
    'text-rich-text-caption-list-margin': 0 0 2px 0,
    'text-rich-text-caption-blockquote-margin': 12px 0 12px 16px,
    'text-rich-text-caption-pre-line-height': 20px,
    'text-rich-text-caption-table-padding': 8px 12px,
    'text-caption-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-caption-font-size': 12px,
    'text-caption-font-weight': 400,
    'text-caption-line-height': 18px,
    'text-caption-letter-spacing': 0,
    'text-caption-wide-line-height': 20px,
    'text-caption-stronger-font-weight': 500,
    'text-caption-stronger-wide-font-weight': 500,
    'text-caption-stronger-wide-line-height': 20px,
    'text-body-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-body-font-size': 14px,
    'text-body-font-weight': 400,
    'text-body-line-height': 20px,
    'text-body-letter-spacing': 0,
    'text-body-wide-line-height': 24px,
    'text-body-stronger-font-weight': 500,
    'text-body-stronger-wide-font-weight': 500,
    'text-body-stronger-wide-line-height': 24px,
    'text-body-strongest-font-weight': 600,
    'text-body-strongest-wide-font-weight': 600,
    'text-body-strongest-wide-line-height': 24px,
    'text-subtitle-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-subtitle-font-size': 16px,
    'text-subtitle-font-weight': 500,
    'text-subtitle-line-height': 26px,
    'text-subtitle-letter-spacing': 0,
    'text-subtitle-stronger-font-weight': 600,
    'text-title-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-title-font-size': 16px,
    'text-title-font-weight': 600,
    'text-title-line-height': 26px,
    'text-title-letter-spacing': 0,
    'text-title-mobile-font-size': 16px,
    'text-title-mobile-line-height': 26px,
    'text-title-m-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-title-m-font-size': 20px,
    'text-title-m-font-weight': 600,
    'text-title-m-line-height': 30px,
    'text-title-m-letter-spacing': 0,
    'text-title-m-mobile-font-size': 18px,
    'text-title-m-mobile-line-height': 28px,
    'text-title-l-font-family': "'Adyen Variable', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', Arial, sans-serif",
    'text-title-l-font-size': 24px,
    'text-title-l-font-weight': 600,
    'text-title-l-line-height': 34px,
    'text-title-l-letter-spacing': 0,
    'text-title-l-mobile-font-size': 20px,
    'text-title-l-mobile-line-height': 30px,
) !default;

$z-index: (
    'z-index-global-screen': auto,
    'z-index-global-elevated': 5,
    'z-index-global-navigation': 10,
    'z-index-global-instant-interaction': 15,
    'z-index-local-tier-1': 1,
    'z-index-local-tier-2': 2,
    'z-index-local-tier-3': 3,
    'z-index-local-tier-4': 4,
) !default;
