$gradient: (
    'gradient-data-grid-hover': linear-gradient(
            270deg,
            rgba(42, 42, 42, 1) 0%,
            rgba(42, 42, 42, 0.82) 53.34%,
            rgba(42, 42, 42, 0.75) 61.73%,
            rgba(42, 42, 42, 0.11) 99.25%,
            rgba(42, 42, 42, 0) 100%
        ),
    'gradient-data-grid-zebra-hover': linear-gradient(
            270deg,
            #363636 0%,
            rgba(54, 54, 54, 0.82) 53.34%,
            rgba(54, 54, 54, 0.75) 61.73%,
            rgba(54, 54, 54, 0.11) 99.25%,
            rgba(54, 54, 54, 0) 100%
        ),
    'gradient-data-grid-selected-hover': linear-gradient(
            270deg,
            #003d79 0%,
            rgba(0, 61, 121, 0.82) 53.34%,
            rgba(0, 61, 121, 0.75) 61.73%,
            rgba(0, 61, 121, 0.11) 99.25%,
            rgba(0, 61, 121, 0) 100%
        ),
    'gradient-data-grid-highlighted-hover': linear-gradient(
            270deg,
            #593500 0%,
            rgba(89, 53, 0, 0.82) 53.34%,
            rgba(89, 53, 0, 0.75) 61.73%,
            rgba(89, 53, 0, 0.11) 99.25%,
            rgba(89, 53, 0, 0) 100%
        ),
) !default;
