@use '../../../../../../style';

.adyen-pe-transaction-amount-display {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-020);
    padding: style.token(spacer-060) 0;

    &__amount {
        align-items: baseline;
        display: inline-flex;
        gap: style.token(spacer-020);

        &--large {
            gap: style.token(spacer-040);
        }
    }

    &__currency.adyen-pe-typography--caption-stronger {
        font-weight: style.token(text-body-strongest-font-weight);
    }

    &__label {
        align-items: center;
        color: style.token(color-label-secondary);
        display: flex;
        gap: style.token(spacer-040);

        .adyen-pe-icon {
            color: style.token(color-label-primary);
            font-size: 16px;

            svg {
                display: block;
            }
        }
    }
}
