@use '../../../../../../style';

.adyen-pe-pay-by-link-theme-form {
    width: 100%;

    &__brand-input {
        display: block;
        margin-bottom: style.token(spacer-040);
    }

    &__file-input {
        display: block;
        margin-bottom: style.token(spacer-040);
    }

    &__file-info {
        color: style.token(color-label-secondary);

        &-container {
            margin-top: style.token(spacer-060);
        }
    }

    &__error {
        align-items: flex-start;
        display: flex;
        gap: style.token(spacer-040);
        margin-top: style.token(spacer-040);
    }

    &__preview--remove {
        width: fit-content;
    }

    &__preview--image {
        width: fit-content;
    }

    &__preview--conteiner {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);
        width: fit-content;
    }

    &__error-icon {
        bottom: calc((1em - #{style.token(text-body-line-height)}) / 2);
        position: relative;
    }

    &__error-text,
    &__error-icon svg {
        color: style.token(color-label-critical);
    }
}
