@use '../../../../../../style/skeleton' as skeleton;
@use '../../../../../../style' as style;
/* stylelint-disable */
@import '../../../../../../style/breakpoints';

.adyen-pe-capital-offer-selection {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);

    &__details {
        width: 100%;
    }

    &__loading-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-030);
    }

    &__loading-skeleton {
        background: #cbe3ff;
        border-radius: style.token(border-radius-s);
        display: block;
        height: 20px;
        width: 100%;

        @include skeleton.adyen-pe-skeleton-animation(hsl(212, 100%, 90%));
    }

    &__loading-skeleton:first-child {
        height: 50px;
    }

    &__information {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);

        .adyen-pe-structured-list dd {
            text-align: right;
        }
    }

    &__buttons {
        display: flex;
        gap: style.token(spacer-050);
        justify-content: end;
    }

    /* stylelint-disable order/order */
    @include adyen-pe-screen-sm-and-up {
        &__loading-skeleton:first-child {
            height: 42px;
        }
    }
}
