@use '../../../../../../style/skeleton' as skeleton;
@use '../../../../../../style';
/* stylelint-disable */

.adyen-pe-capital-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
    min-height: 150px;

    &__skeleton {
        border-radius: 5px;
        flex: 1;
        height: 100%;

        @include skeleton.adyen-pe-skeleton-animation();
    }

    &__header-skeleton-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__error-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__header-skeleton {
        border-radius: 4px;
        height: style.token(spacer-080);
        margin-top: style.token(spacer-040);
        width: 60%;

        @include skeleton.adyen-pe-skeleton-animation();
    }

    &__unqualified-state {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        justify-content: center;
        margin-top: style.token(spacer-080);
    }

    &__pre-qualified-grant {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__pre-qualified-grant-review-button {
        width: 100%;
    }

    &__pre-qualified-grant-review-button .adyen-pe-button__label {
        justify-content: center;
    }
}
