@use '@integration-components/style';

.adyen-pe-grant-item {
    width: 100%;

    &__status-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__alert {
        margin-top: style.token(spacer-080);
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-010);
    }

    &__details-toggle {
        align-self: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__grant-id {
        align-items: flex-start;
        display: flex;
        margin-top: style.token(spacer-010);
        width: fit-content;

        .b-button__label {
            text-decoration-color: style.token(color-outline-secondary);
            text-decoration-line: underline;
            text-decoration-style: dotted;
        }
    }

    &__text--secondary {
        color: style.token(color-label-secondary);
    }

    &__progress-bar {
        margin-top: style.token(spacer-040);
        width: 100%;
    }

    &__progress-bar-legend {
        margin-top: style.token(spacer-040);
        width: 100%;

        &-label {
            margin-right: style.token(spacer-070);

            &::before {
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: style.token(spacer-040);
                margin-right: style.token(spacer-020);
                width: style.token(spacer-040);
            }

            &:first-child::before {
                background-color: style.token(color-decorative-blue);
            }

            &:last-child::before {
                background-color: style.token(color-decorative-blue);
                opacity: 0.2;
            }
        }
    }

    &__actions-bar {
        display: flex;
        margin-top: style.token(spacer-060);
    }

    &__main-action-button {
        flex: 1;
    }

    .b-structured-list-item {
        display: flex;
        justify-content: space-between;
    }
}
