@use '@integration-components/style';

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
}

.content {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
}

.compactContent {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-010);
}

.amountAndStatus {
    align-items: start;
    display: flex;
    justify-content: space-between;
}

.amount {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-010);
}

.secondaryText {
    color: style.token(color-label-secondary);
}

.grantID {
    align-items: flex-start;
    display: flex;
    margin-top: style.token(spacer-010);
    width: fit-content;
}

.chevron {
    display: flex;
    justify-content: center;
    margin-top: style.token(spacer-070);
    width: 100%;
}
