@use '../../../../../../style';

.adyen-pe-pay-by-link-settings {
    &__container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__title {
        margin-bottom: style.token(spacer-070);
    }

    &__content-header {
        margin-bottom: style.token(spacer-080);
    }

    &__input-container {
        margin-bottom: style.token(spacer-080);
        width: 100%;
    }

    &__content-container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-090);
        margin-top: style.token(spacer-070);
    }

    &__sidebar-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        width: 100%;
    }

    &__secondary-nav {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-090);
        min-width: 25%;
    }

    &__cta-container {
        align-items: flex-end;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: style.token(spacer-070) style.token(spacer-090);

        &--mobile {
            padding: style.token(spacer-070) 0;
        }
    }
}
