@use '../../../../../../style';

.adyen-pe-component__container {
    min-width: fit-content;
}

.adyen-pe-pay-by-link-settings {
    &__container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__title {
        margin-bottom: style.token(spacer-070);
    }

    &__content-header {
        margin-bottom: style.token(spacer-080);
    }

    &__content-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        width: 100%;

        &--alert {
            align-items: center;
            align-self: stretch;
            display: flex;
            gap: style.token(spacer-060);
            padding: style.token(spacer-050) style.token(spacer-060);

            .adyen-pe-alert__content-container {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__content-item--mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
        margin-bottom: style.token(spacer-080);
        width: 100%;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        margin-top: style.token(spacer-070);
    }

    &__container-container-item--mobile {
        margin-top: 0;
    }

    &__sidebar-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        width: 100%;
    }

    &__secondary-nav {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-090);
        min-width: 25%;
    }
}
