@use '../../../../../../style';

.adyen-pe-capital-account-details {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);

    &,
    &__detail-content {
        margin: 0;
    }

    &__detail-content {
        .adyen-pe-copy-text__text {
            font-size: style.token(text-body-font-size);
            font-weight: style.token(text-body-font-weight);
        }

        .adyen-pe-copy-text__icon {
            font-size: style.token(text-subtitle-font-size);
        }

        &--primary {
            .adyen-pe-copy-text__text {
                font-size: style.token(text-subtitle-font-size);
                font-weight: style.token(text-subtitle-stronger-font-weight);
            }
        }
    }

    &__detail-label {
        color: style.token(color-label-secondary);
    }

    .adyen-pe-copy-text__container {
        gap: style.token(spacer-030);
    }
}
