@import './base';
// @import './advanced';

:root {
    --my-primary-color: #5500a9;
    --my-primary-color-on-hover: #7401e6;
    --my-primary-color-disabled: #ece1f9;
    --my-border-radius: 30px;

    // --adyen-sdk-color-outline-primary-active: var(--my-primary-color);
    // --adyen-sdk-color-background-inverse-primary: var(--my-primary-color);
    // --adyen-sdk-color-background-inverse-primary-hover: var(--my-primary-color-on-hover);
    // --adyen-sdk-color-background-disabled: var(--my-primary-color-disabled);
    // --adyen-sdk-border-radius-m: var(--my-border-radius);
}
