node_modules
dist
coverage
*.tgz*
*.log*
.env
.env*
envs/.env
envs/.env.*
stats.json
stats.html
.DS_Store
/*.tgz

# IntelliJ
.idea
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# VSCode
.vscode

# VIM
*.swp
*.swo

# Vagrant
Vagrantfile
.vagrant

# Build cache manifests
*.tsbuildinfo

.demo/
demo

storybook-static/

playwright-report
test-results

scripts/generate-ts-schemas/variables
scripts/*/variables


## credentials
.smartlingrc
platform-components-v1_cdn.tar.gz

## npm config
.npmrc