@use '@integration-components/style';

.adyen-pe-capital-account-details {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);

    &,
    &__detail-content {
        margin: 0;
    }

    &__detail-content {
        display: flex;
    }

    &__detail-label {
        color: style.token(color-label-secondary);
    }

    &__copyable-content {
        align-items: center;
        display: flex;
        gap: style.token(spacer-030);
    }
}
