@use '@integration-components/style';
@use '@integration-components/style/breakpoints' as *;

.adyen-pe-transactions-overview__summary-item {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    @include adyen-pe-screen-sm-and-up {
        flex-direction: row;
        align-items: center;
        gap: style.token(spacer-120);
    }

    &__label-wrap {
        align-items: center;
        display: flex;
        gap: style.token(spacer-060);
    }

    &__tooltip-placeholder {
        width: style.token(spacer-070);
    }

    &__pair {
        display: flex;
        gap: style.token(spacer-030);
    }
}
