@use '@integration-components/style';
@use '@integration-components/style/breakpoints' as *;

.root {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    justify-content: space-between;
    width: 100%;

    @include adyen-pe-screen-sm-and-up {
        align-items: center;
        flex-direction: row;
        gap: style.token(spacer-120);
    }
}

.labelWrap {
    align-items: center;
    display: flex;
    gap: style.token(spacer-060);
}

.tooltipPlaceholder {
    width: style.token(spacer-070);
}

.pair {
    display: flex;
    gap: style.token(spacer-030);
}

.itemValueContainer {
    white-space: nowrap;
}

.itemValue {
    display: inline-block;
}
