@use '../../../../../../style/skeleton' as skeleton;
@use '../../../../../../style';

.adyen-pe-amount-skeleton {
    @include skeleton.adyen-pe-skeleton();

    &--has-margin {
        margin-top: style.token(spacer-040);
    }

    &--loading {
        @include skeleton.adyen-pe-skeleton-animation();
    }
}
