@use '../../../../../../style' as style;

.adyen-pe-capital-offer-legal-notice {
    &--title {
        color: style.token(color-label-primary);
    }

    &--description {
        color: style.token(color-label-secondary);
    }
}

.adyen-pe-capital-offer-summary {
    &__info--email {
        color: style.token(color-label-primary);
        padding: 0;
        text-decoration: underline;

        .adyen-pe-button__label {
            font-size: style.token(text-caption-font-size);
        }
    }
}
