@use '../../../../../style';

.adyen-pe-payment-link-tabs {
    padding-bottom: style.token(spacer-070);

    &__list-heading {
        padding-bottom: style.token(spacer-040);
        padding-top: style.token(spacer-060);
    }

    &__list-label,
    &__list-value {
        padding-bottom: style.token(spacer-030);
        padding-top: style.token(spacer-030);
    }

    &__list-label {
        color: style.token(color-label-secondary);
    }
}
