@use '@integration-components/style' as style;
@use '@integration-components/style/breakpoints' as *;

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);
}

.highlights {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);
}
