@use '@integration-components/style' as style;
@use '@integration-components/style/breakpoints' as breakpoints;

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: style.token(spacer-070);
}

.toolbar {
    align-items: center;
    display: flex;
    gap: style.token(spacer-060);
    justify-content: space-between;
    margin-bottom: style.token(spacer-080);
}

.summary {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    margin-bottom: style.token(spacer-080);
    overflow: visible;
    position: relative;

    @include breakpoints.adyen-pe-screen-md-and-up {
        display: block;
        height: var(--adyen-pe-summary-height, 0);
    }
}

.summarySection {
    @include breakpoints.adyen-pe-screen-md-and-up {
        max-width: calc(50% - #{style.token(spacer-060)} / 2);
        min-width: 350px;
        position: absolute;
        z-index: 4;
    }
}

.summarySectionTotals {
    @include breakpoints.adyen-pe-screen-md-and-up {
        left: 0;
        top: 0;
    }
}

.summarySectionBalances {
    @include breakpoints.adyen-pe-screen-md-and-up {
        right: 0;
        top: 0;
    }
}

.summaryGroup {
    display: flex;
    flex-direction: column;
}

.expandedList {
    margin-left: style.token(spacer-100);
    margin-top: style.token(spacer-080);
}

.summaryHeader {
    justify-content: space-between;
    width: 100%;
}
