.adyen-pe-dropdown__store {
    width: 180px;

    .adyen-pe-store-selector-button {
        &__name {
            white-space: normal;
            width: 100%;
            word-wrap: break-word;
        }

        &__description {
            white-space: normal;
            width: 100%;
            word-wrap: break-word;
        }
    }
}
