@use '../../style';

.adyen-pe-error-panel {
    margin-bottom: style.token(spacer-80);

    .adyen-pe-error-panel__wrapper {
        font-size: 0.75em;
    }
}

.adyen-pe-error-panel--sr-only {
    height: style.token(spacer-010);
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: style.token(spacer-010);
}
