@use '../../../../../../../style/index' as style;

.adyen-pe-pay-by-link-creation-form {
    &__billing-address-container,
    &__shipping-address-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);

        > * {
            display: flex;
            flex-direction: row;
            gap: style.token(spacer-060);
        }
    }

    &__billing-address-field,
    &__shipping-address-field {
        flex-grow: 1;

        &--large {
            flex: 4 0 0;
        }

        &--medium {
            flex: 2 0 0;
        }

        &--small {
            flex: 1 0 0;
        }
    }
}
