@use '../../../../../internal/DataOverviewDisplay/styles' as *;
@use '../../../../../../style';

.adyen-pe-payouts-overview {
    @include adyen-pe-data-overview;

    &-display {
        &__spinner-container {
            display: block;
            padding-bottom: style.token(spacer-110);
        }
    }
}
