@use '../../../../../../../style';

.adyen-pe-pay-by-link-requirements {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-080);

    &__sections-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-080);
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-050);
    }

    &__section-content {
        color: style.token(color-label-secondary);
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-050);
        padding-left: style.token(spacer-060);
    }

    &__list {
        padding-left: style.token(spacer-080);
    }

    &__buttons-container {
        display: flex;
        gap: style.token(spacer-040);
        justify-content: end;
    }
}
