@use '../../../../../style';

.adyen-pe-filter-button {
    align-items: center;
    appearance: none;
    background-color: style.token(color-background-primary);
    border: style.token(border-width-s) solid style.token(color-outline-secondary);
    border-radius: style.token(border-radius-m);
    color: style.token(color-label-primary);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    justify-content: center;
    min-height: 36px;
    padding: 0;
    text-decoration: none;
    user-select: none;
    width: initial;

    &:hover {
        background-color: style.token(color-background-primary-hover);
    }

    &__label {
        display: inline-flex;
        line-height: style.token(text-body-line-height);
        padding: style.token(spacer-040) style.token(spacer-060);
        vertical-align: middle;
    }

    &__default-container {
        align-items: center;
        display: flex;
    }

    &__counter {
        background-color: style.token(color-background-inverse-primary);
        border-radius: style.token(border-radius-s);
        color: style.token(color-label-inverse-primary);
        padding: style.token(border-radius-s) style.token(border-radius-m);
    }

    &__counter-wrapper {
        align-items: center;
        display: flex;
        padding: style.token(spacer-020) style.token(spacer-020) style.token(spacer-020) style.token(spacer-000);
    }

    &--active,
    &:active,
    &:focus {
        border: style.token(border-width-s) solid style.token(color-outline-primary-active);
        box-shadow: none !important;
        outline: style.token(border-width-s) solid style.token(color-outline-primary-active);
    }

    &:disabled {
        background-color: style.token(color-background-disabled);
        border: 0;
        color: style.token(color-label-disabled);
        cursor: not-allowed;
        outline: none;
    }

    &__footer {
        .adyen-pe-button:first-child {
            margin-left: auto;
        }
    }
}
