@use '@integration-components/style' as style;

.adyen-pe-capital-offer-terms {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);

    &__list-label {
        color: style.token(color-label-secondary);
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        margin-bottom: style.token(spacer-030);

        dd {
            text-align: right;
        }

        &--error {
            align-items: center;
            display: flex;
            gap: style.token(spacer-020);
            justify-content: end;

            .adyen-pe-icon {
                color: style.token(color-label-warning);
            }
        }
    }
}
