@use '../../../style';

.adyen-pe__tooltip-target {
    &--hovered {
        text-decoration: underline;
        text-decoration-color: style.token(color-decorative-blue);
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-underline-offset: style.token(spacer-020);
    }
}
