@use '../../../style';

.adyen-pe-alert {
    $adyen-pe-alert: &;
    $adyen-pe-types-list: success, highlight, warning, critical;
    align-items: flex-start;
    border-radius: style.token(border-radius-m);
    box-sizing: border-box;
    container-type: inline-size;
    display: flex;
    gap: style.token(spacer-080);
    max-width: 700px;
    padding: style.token(spacer-080);
    width: 100%;

    @container (min-width: 460px) {
        gap: style.token(spacer-080);
        padding: style.token(spacer-080);
    }

    &__icon {
        align-items: center;
        display: flex;
        height: style.token(spacer-090);
    }

    &__content {
        width: 100%;
    }

    &__title {
        flex-grow: 1;
    }

    &__description:not(:first-child) {
        margin-top: style.token(spacer-020);
    }

    &__close-button {
        --offset-margin: calc(#{style.token(spacer-080)} - #{style.token(spacer-110)});
        --offset-position: calc(var(--offset-margin) * -1 / 2);
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        margin-right: var(--offset-margin);
        margin-top: var(--offset-margin);
        position: relative;
        right: var(--offset-position);
        top: var(--offset-position);

        .adyen-pe-button--tertiary:hover {
            background-color: unset !important;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-040);
        margin-top: style.token(spacer-040);
    }

    &--tip {
        #{$adyen-pe-alert}__icon {
            height: style.token(spacer-080);
        }

        &#{$adyen-pe-alert} {
            gap: style.token(spacer-060);
            padding: style.token(spacer-050) style.token(spacer-060);
        }
    }

    @each $type in $adyen-pe-types-list {
        &--#{$type} {
            background-color: style.token(color-background-#{$type}-weak);

            #{$adyen-pe-alert}__icon {
                color: style.token(color-background-#{$type}-strong);
            }

            #{$adyen-pe-alert}__title,
            #{$adyen-pe-alert}__description,
            #{$adyen-pe-alert}__close-button {
                color: style.token(color-label-primary);
            }
        }
    }
}
