@use '../../../../../../../../style';

.adyen-pe-payment-link-settings {
    .adyen-pe-button-actions--buttons-end {
        flex-direction: column-reverse;
    }

    &__cta-container {
        align-items: flex-end;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: style.token(spacer-060) 0;

        &--mobile {
            align-items: stretch;

            .adyen-pe-button__label {
                display: flex;
                justify-content: center;
            }
        }
    }

    &-cta--mobile {
        display: block;
        width: 100%;

        .adyen-pe-button__label {
            display: flex;
            justify-content: center;
        }
    }

    &-save-success__cta-icon {
        margin-right: style.token(spacer-020);
    }
}
