@use '@integration-components/style' as style;

.root {
    position: relative;

    :global(.b-toast) {
        bottom: auto;
        top: var(--b-toast-spacing-outer);
    }
}

.dateReportType {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-020);
}

.date {
    opacity: 0.7;
}

.downloadErrorIcon {
    color: style.token(color-background-warning-strong);
}
