@use '@integration-components/style';

.adyen-pe-payment-link-settings__secondary-nav {
    width: 100%;

    .b-list {
        gap: style.token(spacer-020);
    }

    .b-list-item__inner {
        gap: style.token(spacer-040);
        padding: style.token(spacer-040) style.token(spacer-050);
        border-radius: style.token(border-radius-m);
    }

    &-item--active .b-list-item__inner {
        background-color: style.token(color-background-primary-active);
    }

    &-item--desktop .b-list-item__chevron {
        display: none;
    }

    &-item--mobile .b-list-item__inner {
        align-items: flex-start;
        gap: style.token(spacer-070);
        justify-content: space-between;
        padding: style.token(spacer-070) style.token(spacer-060);
    }
}
