@use '../../../style';

.adyen-pe-accordion {
    &__header {
        align-items: center;
        color: inherit;
        display: flex;
        justify-content: space-between;
        margin: style.token(spacer-060) style.token(spacer-000);
        padding: style.token(spacer-040) style.token(spacer-000);
        width: 100%;

        &-container {
            background-color: transparent;
            border: style.token(spacer-000);
            color: inherit;
            cursor: pointer;
            display: flex;
            padding: style.token(spacer-000);
        }

        &-controller {
            align-items: center;
            display: flex;
            gap: style.token(spacer-010);

            .adyen-pe-icon {
                font-size: 8px;
                margin: 0 style.token(spacer-020);
            }

            .adyen-pe-icon svg {
                display: block;
            }
        }
    }

    &__content {
        overflow: hidden;
        position: relative;
        transition:
            max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 0.6s linear;
    }
}
