@use '../../../style';

.adyen-pe-divider {
    border: 0;
    border-bottom: 1px solid style.token(color-separator-primary);
    height: 1px;
    width: 100%;

    &--vertical {
        border: 0;
        border-left: 1px solid style.token(color-separator-primary);
        height: auto;
        width: 1px;
    }
}
