@use '../../../style';
//stylelint-disable no-invalid-position-at-import-rule
@import '../../../style/breakpoints';

.adyen-pe-component {
    --adyen-pe-content-padding: #{style.token(spacer-070)};
    --adyen-pe-data-details-padding: var(--adyen-pe-content-padding);
    container-type: inline-size;
    width: 100%;
}

// stylelint-disable scss/selector-no-redundant-nesting-selector
.adyen-pe-component,
.adyen-pe-popover,
.adyen-pe-tooltip {
    &,
    & *,
    & *::before,
    & *::after {
        box-sizing: border-box;
    }
}

.adyen-pe-component__container {
    background: style.token(color-background-primary);
    padding: var(--adyen-pe-content-padding);

    @media (min-width: #{$adyen-pe-breakpoint-sm}) {
        border: style.token(border-width-s) solid style.token(color-outline-secondary);
        border-radius: style.token(spacer-040);
    }
}

.adyen-pe-capital-offer-component,
.adyen-pe-capital-overview-component {
    max-width: 600px;
}
