@use '@integration-components/style';

.adyen-pe-transactions-table {
    &__amount {
        display: block;
        font-weight: style.token(text-body-stronger-font-weight);
        text-align: right;
    }

    &__date-and-payment-method {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);

        &--date {
            color: style.token(color-label-secondary);
        }
    }
}
