@use '@integration-components/style';

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-090);
}

.instructionList {
    list-style: inherit;
    padding-left: style.token(spacer-090);
}

.notice {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    padding-bottom: style.token(spacer-070);
}

.verifiedBankAccountDetails {
    color: style.token(color-label-secondary);
}

.transferInstrumentItem {
    list-style: none;
    padding: style.token(spacer-030) 0;
}

.transferInstrumentList {
    padding-left: style.token(spacer-060);
}
