@use '../../../../../../../style/index' as style;

.adyen-pe-pay-by-link-creation-form-success {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    max-width: 600px;
    padding: style.token(spacer-100);
    text-align: center;

    &__icon {
        color: style.token(color-background-success-strong);
        font-size: 40px;
        height: 40px;
        margin-bottom: style.token(spacer-090);
    }

    &__title {
        margin-bottom: style.token(spacer-040);
    }

    &__description {
        color: style.token(color-label-secondary);
        margin-bottom: style.token(spacer-100);
    }

    &__actions {
        align-items: flex-end;
        display: flex;
        gap: style.token(spacer-040);
    }

    &__button-icon {
        margin-right: style.token(spacer-040);
    }
}
