@use '../../../style';

.adyen-pe-structured-list {
    &__grid {
        display: flex;

        @for $i from 3 through 9 {
            &--width-#{$i}-of-12 {
                flex: 0 0 calc($i / 12 * 100%);
            }
        }
    }

    &__item {
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-font-weight);
        line-height: style.token(text-body-line-height);
        margin: 0;
    }

    &__item--has-highlight:hover {
        background-color: style.token(color-background-primary-hover);
        transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &__label {
        color: style.token(color-label-primary);
        overflow-wrap: anywhere;
    }

    &__content {
        color: style.token(color-label-primary);
        display: flex;
        justify-content: flex-end;
        margin: 0;
        overflow-wrap: anywhere;

        &--start-align {
            justify-content: start;
            padding-bottom: style.token(spacer-030);
            padding-top: style.token(spacer-030);
        }
    }
}
