@use '../../../style';

.adyen-pe-header {
    align-items: flex-start;
    display: flex;
    position: relative;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    &__headings {
        flex: 1;
    }

    &__controls {
        &:not(:empty) {
            margin-left: style.token(spacer-060);
        }
    }

    &__title + &__subtitle {
        margin: style.token(spacer-020) 0 style.token(spacer-070);
    }

    &__divider {
        margin: style.token(spacer-070) 0;
    }
}
