@use '../../../../../../../../style';
@use '../../../../../../../../style/skeleton' as skeleton;

.adyen-pe-pay-by-link-settings {
    &__skeleton {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
        width: 100%;

        &-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-item {
            border-radius: style.token(border-radius-m);
            color: style.token(color-label-primary);
            cursor: pointer;
            display: block;
            font: inherit;
            height: 20px;
            justify-content: space-between;
            margin-bottom: style.token(spacer-020);

            /* stylelint-disable-next-line order/order */
            @include skeleton.adyen-pe-skeleton-animation();

            &--header {
                height: 24px;
                width: 40%;
            }

            &--small {
                height: 14px;
                margin-bottom: style.token(spacer-020);
                width: 20%;
            }

            &--large {
                height: 20px;
                margin-bottom: style.token(spacer-070);
            }
        }
    }
}
