@use '@integration-components/style' as style;

.mobileCell {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-050);
}

.mobileAmountCell {
    align-items: end;
}

.mobileExpireDateCell {
    color: style.token(color-label-secondary);
}
