@use '@integration-components/style' as style;

.root {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
}

.rootXs {
    gap: style.token(spacer-080);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabsContainer {
    display: flex;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    gap: style.token(spacer-040);
}

.actionsContainer :global(.b-button-actions__container-wrapper) {
    flex-direction: row;
    justify-content: flex-end;
}

.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: style.token(spacer-040);
}

.filtersAlertContainer {
    align-items: center;
    display: flex;
    max-width: 500px;
    width: 100%;
}
