@use '../../../style';

$adyen-pe-modal-sizes: (
    'fluid': (
        'width': max-content,
    ),
    'small': (
        'width': 600px,
    ),
    'large': (
        'width': 800px,
    ),
    'extra-large': (
        'height': 85%,
        'width': 1200px,
    ),
);

$adyen-icon-touch-size: style.token(spacer-110);

.adyen-pe-modal-wrapper {
    align-items: center;
    background: rgba(0, 17, 44, 0.5);
    bottom: 0;
    content: '';
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s linear;
    visibility: hidden;
    width: 100%;
    z-index: 10;

    &--open {
        opacity: 1;
        visibility: visible;

        .adyen-pe-modal {
            opacity: 1;
            transform: scale(1);
        }
    }

    &--dismissible {
        cursor: pointer;
    }
}

.adyen-pe-modal {
    background-color: style.token(color-background-primary);
    border-radius: style.token(border-radius-l);
    cursor: initial;
    max-height: 80vh;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
    z-index: 20;

    [dir='rtl'] & {
        direction: rtl;
    }

    @each $name, $dimensions in $adyen-pe-modal-sizes {
        &--#{$name} {
            // Check if the height key exists in the map, otherwise use 'auto'
            height: if(map-has-key($dimensions, 'height'), map-get($dimensions, 'height'), auto);

            max-width: map-get($dimensions, 'width');

            width: 95vw;
        }
    }

    &--full-screen {
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }

    // @include tablet-portrait-up {
    //     min-height: 200px;
    //     transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
    //     width: 464px;
    // }

    &__header {
        align-items: center;
        color: style.token(color-label-primary);
        display: flex;
        font-size: style.token(text-subtitle-font-size);
        font-weight: style.token(text-body-strongest-font-weight);
        justify-content: flex-end;
        padding: style.token(spacer-090) style.token(spacer-090) 0;

        &--with-title {
            padding: style.token(spacer-070) style.token(spacer-070) style.token(spacer-050) style.token(spacer-080);
        }

        &--with-border-bottom {
            border-bottom: style.token(border-width-s) solid style.token(color-outline-secondary);
        }
    }

    &__dismiss-button {
        --icon-size: 16px;
        --offset-margin: calc(1rem - #{$adyen-icon-touch-size});
        --offset-position: calc(var(--offset-margin) * -1 / 2);

        cursor: pointer;
        font-size: var(--icon-size);
        margin-right: var(--offset-margin);
        margin-top: var(--offset-margin);
        position: relative;
        right: var(--offset-position);
        top: var(--offset-position);
        transition: background 0.1s linear;
    }

    .adyen-pe-label__text {
        font-size: style.token(text-body-font-size);
        margin-bottom: style.token(spacer-020);
    }

    &__content {
        --adyen-pe-data-details-padding: #{style.token(spacer-090)};
        padding: 0 var(--adyen-pe-data-details-padding) var(--adyen-pe-data-details-padding);

        .adyen-pe-error-message-display {
            padding-bottom: var(--adyen-pe-data-details-padding);
            position: relative;
        }
    }

    &__footer {
        display: flex;
        gap: style.token(spacer-040);

        .adyen-pe-button:first-child {
            margin-left: auto;
        }
    }
}
