@use '@integration-components/style' as style;

.adyen-pe-reports-table {
    position: relative;

    .b-toast {
        bottom: auto;
        top: var(--b-toast-spacing-outer);
    }

    &__download-error-icon {
        color: style.token(color-background-warning-strong);
    }

    &-date-report-type {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);

        &--date {
            opacity: 0.7;
        }
    }
}
