@use '@integration-components/style';

.actionButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0 style.token(spacer-070);
}

.actionButton {
    margin-top: style.token(spacer-050);
}
