@use '@integration-components/style';

.adyen-pe-transactions-export {
    &__popover-sections {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
        margin-bottom: style.token(spacer-040);
    }

    &__popover-section {
        &--filters {
            display: flex;
            gap: style.token(spacer-030);
        }

        &--columns {
            display: flex;
            flex-direction: column;
            gap: style.token(spacer-030);
        }
    }
}
