@use '@integration-components/style';

.popoverSections {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);
    margin-bottom: style.token(spacer-070);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: style.token(spacer-030);

    :global(.b-tag) {
        white-space: nowrap;
    }
}

.columns {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
}

.infoAlert {
    :global(.b-alert__description.b-typography) {
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-strongest-font-weight);
    }
}
