@use '../../../../../../style' as style;

.adyen-pe-capital-offer-summary {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &__grant-summary {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
    }

    &__list-label {
        color: style.token(color-label-secondary);
    }

    &__buttons {
        display: flex;
        gap: style.token(spacer-050);
        justify-content: end;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        margin-bottom: style.token(spacer-030);

        dd {
            text-align: right;
        }

        &--error {
            align-items: center;
            display: flex;
            gap: style.token(spacer-020);
            justify-content: end;

            .adyen-pe-icon {
                color: style.token(color-label-warning);
            }
        }
    }

    &__error-alert-button {
        margin-top: style.token(spacer-050);
    }
}
