@use '@integration-components/style';
@use '@integration-components/style/mixins';

.adyen-pe-payment-link-details {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &__content {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-080);
    }

    &__error {
        @include mixins.adyen-pe-error-message-display-container;
    }
}
