html,
body {
    font:
        400 16px/1.21 -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.component-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.compact-component-wrapper {
    margin: auto;
    max-width: 600px;
    width: 100%;
}
