@use '@integration-components/style' as style;

.adyen-pe-data-grid__icon-cell {
    align-items: center;
    display: flex;
    gap: style.token(spacer-030);

    img {
        height: style.token(spacer-090);
        max-width: style.token(spacer-100);
        object-fit: contain;
        object-position: center;
    }
}
