@use '../../../style';

.adyen-pe-info-box {
    display: inline-block;
    background-color: style.token(color-background-selected);
    border-radius: style.token(border-radius-m);
    padding: style.token(spacer-080);
}
