@use '../../../style';
@use '../../../style/breakpoints' as breakpoints;

.adyen-pe-error-message-display {
    border-radius: style.token(border-radius-m);
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-060);
    left: style.token(spacer-050);
    margin: auto;
    min-width: 310px;
    padding: style.token(spacer-090);
    text-align: center;
    top: style.token(spacer-050);

    &--outlined {
        background: style.token(color-background-primary);
        border: style.token(border-width-s) solid style.token(color-outline-primary);
        box-shadow: style.token(shadow-medium);
    }

    &--with-background {
        background: style.token(color-background-secondary);
    }

    &--absolute-position {
        position: absolute;
    }

    &--centered {
        left: 50%;
        top: style.token(spacer-080);
        transform: translateX(-50%);
    }

    &__button {
        align-items: center;
        display: flex;
        gap: style.token(spacer-040);
        justify-content: center;
    }

    &__illustration {
        display: flex;
        justify-content: center;
    }

    &--with-header-offset {
        top: 60px;
    }

    &--condensed {
        padding: style.token(spacer-040);
    }

    /* stylelint-disable order/order */
    @include breakpoints.adyen-pe-screen-sm-and-up {
        max-width: 550px;
        min-width: 400px;
        padding: style.token(spacer-120);

        &--condensed {
            padding: style.token(spacer-040);
        }
    }
}
