@use '../../../style';

@mixin adyen-pe-data-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    .adyen-pe-filter-bar {
        margin: calc(#{style.token(spacer-050)} * -1) 0;
    }

    @content;
}
