@use '../../../../../style';

.adyen-pe-component__container {
    min-width: fit-content;
}

.adyen-pe-payment-link-settings {
    &__container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    &__title {
        margin-bottom: style.token(spacer-070);
    }

    &__content-header {
        margin-bottom: style.token(spacer-080);
    }

    &__content-item {
        display: flex;
        flex: 2 1 0;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        &--alert {
            align-self: stretch;
            display: flex;
            gap: style.token(spacer-060);
            padding: style.token(spacer-050) style.token(spacer-060);

            .adyen-pe-alert__content-container {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__content-item--mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
        margin-bottom: style.token(spacer-080);
        width: 100%;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        margin-top: style.token(spacer-070);
    }

    &__container-container-item--mobile {
        margin-top: 0;
    }

    &__sidebar-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-090);
        width: 100%;
    }

    &__secondary-nav {
        width: 100%;

        .adyen-pe-secondary-nav--sidebar {
            flex: 1 1 0;
        }

        .adyen-pe-button__label {
            white-space: initial;
        }
    }
}
