@use '../../../../../../style/index' as style;
@use '../../../../../../style/breakpoints' as *;

.adyen-pe-payment-link-creation-form {
    &__shopper-name-container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-060);

        @include adyen-pe-screen-sm-and-down {
            flex-direction: column;
            gap: style.token(spacer-060);
        }

        > * {
            flex-grow: 1;
        }
    }

    &__billing-address-container,
    &__shipping-address-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);

        > * {
            display: flex;
            flex-direction: row;
            gap: style.token(spacer-060);

            @include adyen-pe-screen-sm-and-down {
                flex-direction: column;
                gap: style.token(spacer-060);
            }
        }
    }

    &__shipping-address-title-container,
    &__billing-address-title-container {
        align-items: center;
        gap: style.token(spacer-020);

        @include adyen-pe-screen-sm-and-down {
            flex-direction: row;
            gap: style.token(spacer-060);
        }
    }

    &__billing-address-field,
    &__shipping-address-field {
        flex-grow: 1;

        &--large {
            flex: 3 0 0;
        }

        &--medium {
            flex: 1.5 0 0;
        }

        &--small {
            flex: 1 0 0;
        }
    }
}
