// Not using CSS variables because want to keep these values in sync with JS variables
$adyen-pe-breakpoint-sm: 480px;
$adyen-pe-breakpoint-md: 768px;
$adyen-pe-breakpoint-lg: 1024px;

@mixin adyen-pe-screen-sm-and-up {
    @container (min-width: #{$adyen-pe-breakpoint-sm}) {
        @content;
    }
}

@mixin adyen-pe-screen-md-and-up {
    @container (min-width: #{$adyen-pe-breakpoint-md}) {
        @content;
    }
}

@mixin adyen-pe-screen-lg-and-up {
    @container (min-width: #{$adyen-pe-breakpoint-lg}) {
        @content;
    }
}

@mixin adyen-pe-screen-sm-and-down {
    @container (max-width: #{$adyen-pe-breakpoint-sm}) {
        @content;
    }
}

@mixin adyen-pe-screen-md-and-down {
    @container (max-width: #{$adyen-pe-breakpoint-md}) {
        @content;
    }
}

@mixin adyen-pe-screen-lg-and-down {
    @container (max-width: #{$adyen-pe-breakpoint-lg}) {
        @content;
    }
}
