@use 'sass:math';

//stylelint-disable
@mixin adyen-pe-skeleton {
    background-color: hsl(220, 10%, 95%);
    border-radius: 100px;
    display: inline-block;
    margin: auto;
    min-height: 12px;
    width: 80%;
}

@mixin adyen-pe-skeleton-animation($end-color: hsl(220, 10%, 95%)) {
    $hue: hue($end-color);
    $saturation: saturation($end-color);
    $lightness: lightness($end-color);

    $hue-value: math.div($hue, 1deg);
    $saturation-value: math.div($saturation, 1%);
    $lightness-value: math.div($lightness, 1%);

    $start-color: hsl($hue, $saturation, 80%);

    $animation-name: skeleton-loading-#{floor($hue-value)}-#{floor($saturation-value)}-#{floor($lightness-value)};

    @at-root {
        @keyframes #{$animation-name} {
            0% {
                background-color: $start-color;
            }
            100% {
                background-color: $end-color;
            }
        }
    }

    animation: #{$animation-name} 0.8s linear infinite alternate;
    background-color: inherit;
}
