@use '../../../../../../style' as style;

.adyen-pe-pay-by-link-form-summary {
    font-size: style.token(text-body-font-size);

    &__section {
        margin: style.token(spacer-080) 0;
    }

    &__section-title {
        font-weight: style.token(text-title-font-weight);
        margin-bottom: style.token(spacer-040);
    }

    &__field {
        display: flex;
        margin: style.token(spacer-060) 0;
    }

    &__field-label {
        color: style.token(color-label-secondary);
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 0;
    }

    &__field-value {
        color: style.token(color-label-primary);
        flex-grow: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 0;

        .adyen-pe-copy-text__text {
            font-size: style.token(text-body-font-size);
        }
    }

    &__alert {
        .adyen-pe-alert__icon {
            height: style.token(spacer-090);
        }
    }

    &__actions {
        display: flex;
        gap: style.token(spacer-040);
        justify-content: flex-end;
        margin-top: style.token(spacer-080);
    }

    &--mobile {
        .adyen-pe-pay-by-link-form-summary {
            &__field {
                flex-direction: column;
                gap: style.token(spacer-030);
            }

            &__field-value,
            &__field-label {
                width: auto;
            }
        }
    }
}
