@use '../../../../style/variable-generator' as style;
@use '../../../../style/breakpoints' as *;

.adyen-pe-payment-link-creation {
    @include adyen-pe-screen-sm-and-down {
        height: 100%;
    }
}
