@use '../../../mixins';
@use '../../../../style';

.adyen-pe-pay-by-link-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &--xs {
        gap: style.token(spacer-080);

        .adyen-pe-header {
            align-items: center;
        }

        .adyen-pe-data-grid__cell {
            padding-bottom: style.token(spacer-060);
            padding-top: style.token(spacer-060);
        }

        .adyen-pe-error-message-display {
            top: 00px;
        }
    }

    &__tabs-container {
        .adyen-pe-tabs {
            margin-bottom: 0;
        }

        .adyen-pe-tabpanels {
            display: none;
        }
    }
}
