@use '../../../mixins';
@use '../../../../style';

.adyen-pe-pay-by-link-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &--xs {
        gap: style.token(spacer-080);

        .adyen-pe-header {
            align-items: center;
        }

        .adyen-pe-data-grid__cell {
            padding: style.token(spacer-060) 0;
        }

        .adyen-pe-error-message-display {
            top: 0;
        }
    }

    &__tabs-container {
        .adyen-pe-tabs {
            margin-bottom: 0;
        }

        .adyen-pe-tabpanels {
            display: none;
        }
    }
}

.adyen-pe-pay-by-link-table {
    &__mobile-cell {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-050);
    }

    &__mobile-amount-cell {
        align-items: end;
    }

    &__mobile-expire-date-cell {
        color: style.token(color-label-secondary);
    }
}
