@use '../../../mixins';
@use '../../../../style';

.adyen-pe-pay-by-link-overview {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &--xs {
        gap: style.token(spacer-080);

        .adyen-pe-header {
            align-items: center;
        }

        .adyen-pe-data-grid__cell {
            padding: style.token(spacer-060) 0;
        }

        .adyen-pe-error-message-display {
            top: 0;
        }
    }

    &__tabs-container {
        .adyen-pe-tabs {
            margin-bottom: 0;
        }

        .adyen-pe-tabpanels {
            display: none;
        }
    }

    &__filters-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__action-buttons-container {
        display: flex;
        gap: style.token(spacer-040);
        margin-left: auto;
        padding: style.token(spacer-060) style.token(spacer-000);
    }

    &__action-button {
        height: 100%;
    }

    &__filters-alert-container {
        align-items: center;
        display: flex;
        margin-top: style.token(spacer-040);
        width: 500px;

        .adyen-pe-alert__content-container {
            align-items: center;
            display: flex;
        }

        &--mobile {
            width: 100%;

            .adyen-pe-alert__description {
                white-space: normal;
                word-break: break-word;
            }
        }
    }
}

.adyen-pe-pay-by-link-table {
    &__mobile-cell {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-050);
    }

    &__mobile-amount-cell {
        align-items: end;
    }

    &__mobile-expire-date-cell {
        color: style.token(color-label-secondary);
    }
}
