@use '@integration-components/style/mixins';

.adyen-pe-payout-details {
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__error {
        @include mixins.adyen-pe-error-message-display-container;
    }
}
