@use '../../../../../../style';

.adyen-pe-pay-by-link-settings-terms-and-conditions {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);

    &__content--hidden,
    &__content-header--hidden {
        display: none;
    }

    &-disclaimer {
        color: style.token(color-label-secondary);
    }

    &-input__label {
        color: style.token(color-label-primary);
        display: inline-block;
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-stronger-font-weight);

        &--info-text {
            display: inline;
            margin-right: style.token(spacer-020);
        }

        &--required {
            color: style.token(color-label-secondary);
            display: inline;
        }
    }

    &__error {
        align-items: flex-start;
        display: flex;
        gap: style.token(spacer-040);
    }

    &__error-icon {
        bottom: calc((1em - #{style.token(text-body-line-height)}) / 2);
        position: relative;
    }

    &__error-text,
    &__error-icon svg {
        color: style.token(color-label-critical);
    }

    &-checkbox {
        display: flex;
        gap: style.token(spacer-060);

        &__container {
            display: flex;
            flex-direction: column;
            gap: style.token(spacer-040);
            margin-bottom: style.token(spacer-110);
            margin-top: style.token(spacer-080);
        }
    }

    &__requirements-link {
        color: style.token(color-label-highlight);
    }
}
