@use '../../../../../../style';

.adyen-pe-pay-by-link-settings-terms-and-conditions {
    &-disclaimer {
        color: style.token(color-label-secondary);
    }

    &-input {
        color: style.token(color-label-primary);
        display: block;
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-stronger-font-weight);
        margin: style.token(spacer-080) 0;
    }

    &-checkboxes {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-060);
        margin-bottom: style.token(spacer-110);
        margin-top: style.token(spacer-080);
    }
}
