@use '../../../../../../style';

.adyen-pe-pay-by-link-settings-terms-and-conditions {
    &-disclaimer {
        color: style.token(color-label-secondary);
    }

    &-input__label {
        color: style.token(color-label-primary);
        display: inline-block;
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-stronger-font-weight);
        margin-bottom: style.token(spacer-040);

        &--info-text {
            display: inline;
            margin-right: style.token(spacer-020);
        }

        &--required {
            color: style.token(color-label-secondary);
            display: inline;
        }
    }

    &-checkbox {
        display: flex;
        gap: style.token(spacer-060);
        margin-bottom: style.token(spacer-110);
        margin-top: style.token(spacer-080);
    }
}
