@use '../../../../../../style/variable-generator' as style;

.adyen-pe-pay-by-link-creation-form {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-100);

    &__component {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-080);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
        margin-top: style.token(spacer-060);
    }

    &__buttons-container {
        display: flex;
    }

    &__buttons {
        display: flex;
        gap: style.token(spacer-050);
        margin-left: auto;
    }

    &__submit-button {
        align-items: center;
        display: flex;
        gap: style.token(spacer-040);
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-010);
    }

    &__description {
        color: style.token(color-label-secondary);
    }

    &__fields-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-080);
    }

    &__field-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-030);
    }

    &__field-label-container {
        align-items: center;
        display: flex;
        gap: style.token(spacer-020);
    }

    &__field-label-optional {
        color: style.token(color-label-secondary);
        font-weight: 400;
    }

    &__field-support-text {
        color: style.token(color-label-secondary);
        font-weight: 400;
    }

    &__field-checkbox {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: style.token(spacer-050);

        &--disabled {
            cursor: default;
        }
    }

    &__shopper-name-container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-060);

        > * {
            flex-grow: 1;
        }
    }

    &__email-checkbox-container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
        margin-top: style.token(spacer-040);
        padding-left: style.token(spacer-060);
    }

    &__field-date-field-container {
        padding: style.token(spacer-080);
    }

    &__warning-alert {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
    }
}
