@use '../../../style';
// stylelint-disable no-invalid-position-at-import-rule
@import '../../../style/breakpoints.scss';

.adyen-pe-expandable-card {
    $adyen-pe-expandable-card: &;

    position: relative;

    &__container {
        background-color: style.token(color-background-primary);
        border: style.token(border-width-s) solid style.token(color-outline-primary);
        border-radius: style.token(border-radius-m);
        display: block;
        overflow: hidden;

        &--overlay {
            box-shadow: style.token(shadow-medium);
            position: absolute;
            top: 0;
            z-index: 100;

            &#{$adyen-pe-expandable-card}__container--in-flow[aria-expanded='true'] {
                margin-top: calc(var(--adyen-pe-expandable-card-height, 0) * -1);
                position: relative;
            }
        }

        &--hidden {
            visibility: hidden;
        }

        &--button {
            &:hover {
                background-color: style.token(color-background-primary-hover);

                #{$adyen-pe-expandable-card}__chevron {
                    background-color: style.token(color-background-tertiary-hover);
                }
            }
        }

        &--filled {
            background-color: style.token(color-background-secondary);

            &:not(:only-child):hover {
                background-color: style.token(color-background-secondary-hover);
            }
        }
    }

    &__content {
        padding: style.token(spacer-060);

        @include adyen-pe-screen-sm-and-up {
            padding-left: style.token(spacer-080);
            padding-right: style.token(spacer-080);
        }

        &--expandable {
            padding-bottom: style.token(spacer-040);
        }
    }

    &__chevron {
        align-items: center;
        background-color: style.token(color-background-tertiary);
        display: flex;
        height: 20px;
        justify-content: center;
    }
}
