@use '@integration-components/style' as style;

.titleContainer {
    align-items: baseline;
    display: flex;
    gap: style.token(spacer-020);
}

.optionalLabel {
    color: style.token(color-label-secondary);
}
