@use '../../../../style';

.adyen-pe-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.adyen-pe-file-input {
    svg {
        color: style.token(color-label-primary);
        display: block;
        font-size: 16px;
    }

    &__file {
        align-items: center;
        background: style.token(color-background-secondary);
        border-radius: style.token(border-radius-m);
        display: flex;
        gap: style.token(spacer-060);
        padding: style.token(spacer-040) style.token(spacer-060);
    }

    &__file-details {
        align-items: center;
        display: flex;
        flex: 1;
        font-variant-numeric: style.token(text-font-variant-numeric);
        gap: style.token(spacer-040);
        overflow: hidden;
    }

    &__file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__file-size {
        flex: none;
    }

    &__file-button {
        --file-button-padding: #{style.token(spacer-020)};
        border-radius: 100%;
        flex: none;
        margin: calc(var(--file-button-padding) * -1);
        margin-left: 0;
        padding: var(--file-button-padding);
    }

    &__file-icon {
        flex: none;

        svg {
            color: style.token(color-label-success);
        }
    }

    &__dropzone {
        border: style.token(border-width-s) dashed style.token(color-outline-tertiary);
        border-radius: style.token(border-radius-m);
        padding: style.token(spacer-020) style.token(spacer-060);

        &--hover {
            border: style.token(border-width-s) solid style.token(color-outline-secondary-active);
            box-shadow: style.token(shadow-medium);
        }
    }

    &__label {
        --file-input-padding: #{style.token(spacer-040)};
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: style.token(spacer-060);
        margin: 0 calc(var(--file-input-padding) * -1);
        outline: none;
        padding: 0 var(--file-input-padding);

        &--with-focus {
            outline: auto;
        }
    }

    &__label-icon {
        background: style.token(color-background-tertiary);
        border-radius: 100%;
        margin: style.token(spacer-020) 0;
        padding: style.token(spacer-030);
    }
}
