@use '../../../../style';

%adyen-pe-dropdown-decoration {
    --adyen-pe-separation-margin: #{style.token(spacer-060)};
    display: inline-flex;
    flex: none;
    font-size: style.$adyen-pe-svg-icon-size-base;

    svg {
        display: block;
    }
}

%adyen-pe-dropdown-decoration--right {
    margin-left: var(--adyen-pe-separation-margin, style.token(spacer-060));

    [dir='rtl'] & {
        margin-left: 0;
        margin-right: var(--adyen-pe-separation-margin, style.token(spacer-060));
    }
}

%adyen-pe-dropdown-overflow-text-container {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//.adyen-pe-dropdown {}

.adyen-pe-dropdown__button {
    $adyen-pe-self: &;
    $adyen-pe-self--active: #{$adyen-pe-self}--active;

    font-size: style.token(text-body-font-size);
    isolation: isolate;
    overflow: hidden;
    position: relative;

    &.adyen-pe-button--secondary {
        background: style.token(color-background-primary);
        border: style.token(border-width-s) solid style.token(color-outline-secondary);
        box-shadow: none;
        color: style.token(color-label-primary);
        justify-content: flex-start;
        text-decoration: none;
        user-select: none;
        width: 100%;

        &:hover {
            background-color: style.token(color-background-primary-hover);
        }

        &::before {
            align-self: stretch;
            content: '';
            min-height: 1.25rem;
        }

        &[aria-invalid='true'] {
            border: 1px solid style.token(color-outline-critical);
        }
    }

    &-collapse-indicator {
        @extend %adyen-pe-dropdown-decoration;
        @extend %adyen-pe-dropdown-decoration--right;

        #{$adyen-pe-self--active} & {
            transform: rotate(180deg);
        }
    }

    &-clear {
        @extend %adyen-pe-dropdown-decoration;
        @extend %adyen-pe-dropdown-decoration--right;

        background: none;
        border: 0;
        cursor: pointer;
        position: relative;
        transition: color 150ms ease;
        z-index: 0;

        &::before {
            background-color: transparent;
            border-radius: 9999px;
            content: '';
            inset: -4px;
            position: absolute;
            transition: background-color 150ms ease;
            z-index: 0;
        }

        svg {
            position: relative;
            z-index: 1;
        }

        &:hover::before,
        &:focus-visible::before {
            background-color: style.token(color-background-tertiary-hover);
        }

        &:hover,
        &:focus-visible {
            color: style.token(color-label-primary-hover);
        }
    }

    &-multiselect-counter {
        display: none;

        .adyen-pe-dropdown--multiselect & {
            @extend %adyen-pe-dropdown-decoration--right;
            align-items: center;
            color: style.token(color-label-secondary);
            display: flex;
            isolation: isolate;
            padding: 0 style.token(spacer-010);
            position: relative;
        }

        .adyen-pe-dropdown--multiselect &::before {
            background-color: var(--adyen-pe-background-secondary);
            border-radius: style.token(border-radius-s);
            content: '';
            inset: -4px;
            position: absolute;
            z-index: -1;
        }
    }

    //[dir='rtl'] & {
    //    padding: 7px 12px 7px 24px;
    //}

    //&-icon {
    //    border-radius: 3px;
    //    height: 26px;
    //    margin-left: auto;
    //    margin-right: 8px;
    //    max-width: 40px;
    //}

    //&--readonly::after {
    //    background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.19471 6.5646C3.59429 7.09797 4.39396 7.0986 4.79439 6.56587L7.78716 2.58424C8.28257 1.92514 7.81232 0.983398 6.98779 0.983398L1.01209 0.983398C0.188292 0.983398 -0.282154 1.92367 0.211778 2.58298L3.19471 6.5646Z' fill='%23B9C4C9'/%3E%3C/svg%3E%0A");
    //}

    //
    //&--valid {
    //    border-bottom-color: var(--adyen-pe-color-success);
    //}

    &-text {
        @extend %adyen-pe-dropdown-overflow-text-container;
        pointer-events: none;
        text-align: left;
    }

    //&--readonly {
    //    &,
    //    &-active,
    //    &:hover,
    //    &:focus {
    //        background: var(--adyen-pe-color-gray-light);
    //        border-color: transparent;
    //        color: var(--adyen-pe-color-black);
    //        cursor: not-allowed;
    //    }
    //}

    .adyen-pe-filter-input {
        background: transparent;
        border: 0;
        border-radius: 0;
        caret-color: #0075ff;
        color: inherit;
        flex: 1;
        font: inherit;
        inset: 0;
        letter-spacing: 0.025em;
        padding: 0;

        &::placeholder {
            color: style.token(color-label-tertiary);
        }

        &:focus,
        &:active {
            outline: 0;
        }
    }
}

.adyen-pe-dropdown__list {
    background: style.token(color-background-primary);
    display: none;
    list-style: none;
    margin: 0;
    max-height: 375px;
    overflow-y: auto;
    padding: 0;

    &--active {
        display: block;
    }
}

.adyen-pe-dropdown__element {
    $adyen-pe-self: &;
    $adyen-pe-self--disabled: #{$adyen-pe-self}--disabled;
    $adyen-pe-self--no-option: #{$adyen-pe-self}--no-option;

    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: style.token(text-body-font-size);
    font-weight: style.token(text-body-font-weight);
    hyphens: auto;
    line-height: style.token(text-body-line-height);
    outline: 0;
    padding: style.token(spacer-040) style.token(spacer-070);
    transition: background 0.2s ease-out;
    user-select: none;
    word-break: break-word;

    &-content {
        @extend %adyen-pe-dropdown-overflow-text-container;
    }

    &-checkbox {
        @extend %adyen-pe-dropdown-decoration;
        color: style.token(color-background-inverse-primary);
        margin-right: var(--adyen-pe-separation-margin);

        .adyen-pe-dropdown:not(.adyen-pe-dropdown--multiselect) & {
            display: none;
        }
    }

    &-checkmark {
        --adyen-pe-separation-margin: #{style.token(spacer-070)};
        @extend %adyen-pe-dropdown-decoration;
        @extend %adyen-pe-dropdown-decoration--right;
        min-width: 1rem;

        .adyen-pe-dropdown.adyen-pe-dropdown--multiselect & {
            display: none;
        }
    }

    &--keyboard-active {
        background: style.token(color-background-primary-active);
    }

    &:first-child {
        margin-top: style.token(spacer-040);
    }

    &:last-child {
        margin-bottom: style.token(spacer-040);
    }

    &:not(#{$adyen-pe-self--disabled}, #{$adyen-pe-self--no-option}) {
        &:hover {
            background: style.token(color-background-secondary);
        }

        &:focus,
        &:active {
            background: style.token(color-background-primary-active);
        }
    }

    &#{$adyen-pe-self--disabled} {
        color: style.token(color-label-disabled);
        cursor: not-allowed;
    }

    &#{$adyen-pe-self--no-option} {
        color: style.token(color-label-secondary);
        cursor: initial;
        justify-content: center;
    }
}

//.adyen-pe-dropdown + .adyen-pe-input__inline-validation {
//    right: 32px;
//}
