@use '@integration-components/style' as style;

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: style.token(spacer-040);
    width: 100%;
    height: 100%;
}

.title {
    margin-bottom: style.token(spacer-060);
}
