@use '../../../../../../style';

.adyen-pe-psp-reference-filter {
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-040);
    width: calc(320px - #{style.token(spacer-080)} * 2);

    &__title {
        display: contents;
    }

    &__info {
        color: style.token(color-label-secondary);
    }

    label {
        display: flex;
        margin-bottom: calc(#{style.token(spacer-060)} - #{style.token(spacer-040)});
    }
}
