@use '../../../../../../style';

.adyen-pe-accept-dispute {
    &__container {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
        width: 100%;
    }

    &__success-icon {
        color: style.token(color-background-success-strong);
        font-size: style.token(spacer-110);
        padding: style.token(spacer-040);

        svg {
            display: block;
        }
    }

    &__input {
        display: flex;
        gap: style.token(spacer-070);
    }

    &__label {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: style.token(spacer-070);

        > .adyen-pe-icon {
            display: flex;
        }

        input:disabled ~ & {
            cursor: not-allowed;

            > .adyen-pe-icon {
                color: style.token(color-background-disabled);
                position: relative;
            }

            > .adyen-pe-icon::before {
                background: style.token(color-label-disabled);
                border: style.token(color-outline-disabled) solid style.token(border-width-m);
                border-radius: style.token(border-radius-xs);
                content: '';
                inset: 0;
                position: absolute;
                z-index: -1;
            }
        }

        input:focus-visible ~ & {
            > .adyen-pe-icon {
                outline: -webkit-focus-ring-color auto 1px;
            }
        }
    }

    &__success {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
        height: 218px;
        justify-content: center;
        text-align: center;
    }

    &__title {
        font-size: style.token(text-title-font-size);
    }

    &__accepted-btn {
        &.adyen-pe-button {
            background: style.token(color-background-success-strong);
            color: style.token(color-label-inverse-primary);
        }
    }

    &__accepted-icon {
        font-size: 16px;

        svg {
            display: block;
        }
    }
}
