@use '@integration-components/style' as style;

.shopperNameContainer {
    display: grid;
    gap: style.token(spacer-060);
    grid-template-columns: 1fr 1fr;
}

.sameAddressCheckbox {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: style.token(spacer-020);
}
