@use '../../../../style';

.adyen-pe-download {
    --offset-margin: calc(1rem - #{style.token(spacer-110)});
    --offset-position: calc(var(--offset-margin) * -1 / 2);
    align-items: center;
    cursor: pointer;
    display: flex;
    left: 0;
    margin-top: var(--offset-margin);
    position: relative;
    top: var(--offset-position);

    .adyen-pe-icon {
        font-size: style.$adyen-pe-svg-icon-size-base;

        svg {
            display: block;
        }
    }

    &__button {
        &--loading {
            &:disabled {
                background-color: style.token(color-background-tertiary);
                color: style.token(color-label-primary);
            }

            .adyen-pe-spinner {
                border-color: currentColor;
                border-top-color: transparent;
            }
        }

        &--icon {
            background-color: unset;
            box-shadow: unset;
            margin: calc(#{style.token(spacer-020)} * -1);
            padding: style.token(spacer-020);

            &:active:not(:hover) {
                background-color: transparent;
                color: unset;
            }
        }
    }

    &-icon-button-container {
        display: inline-flex;
        height: style.token(spacer-080);
        justify-content: center;
        width: style.token(spacer-080);

        .adyen-pe-button--secondary:disabled,
        .adyen-pe-button--secondary:disabled:not(:focus) {
            box-shadow: unset;
        }

        .adyen-pe-download__button--loading {
            &:disabled {
                background-color: transparent;
            }
        }
    }

    .adyen-pe-button--secondary {
        display: flex;
        gap: style.token(spacer-040);
        text-decoration: none;
    }
}
