@use '../../../../style';

.adyen-pe-download {
    --offset-margin: calc(1rem - var(--adyen-sdk-spacer-110, 40px));
    --offset-position: calc(var(--offset-margin) * -1 / 2);
    align-items: center;
    cursor: pointer;
    display: flex;
    left: 0;
    margin-top: var(--offset-margin);
    position: relative;
    top: var(--offset-position);

    .adyen-pe-button--secondary {
        display: flex;
        gap: style.token(spacer-040);
        padding: style.token(spacer-050);
        text-decoration: none;

        &:disabled {
            color: style.token(color-label-primary);
        }
    }

    .adyen-pe-download__button--loading:disabled {
        background-color: style.token(color-background-tertiary);
    }
}
