@use '../../../style/skeleton' as skeleton;
@use '../../../style';

.adyen-pe-overview-details {
    .adyen-pe-header__title {
        margin-bottom: style.token(spacer-070);
    }

    .adyen-pe-error-message-display {
        left: 0;
        margin: 0 auto 10px;
        max-width: 450px;
        position: relative;
        top: 0;
        transform: none;
    }

    &__skeleton-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: style.token(spacer-060);
    }

    &__status-skeleton {
        display: flex;
        gap: 10px;
        width: 120px;
    }

    &__skeleton {
        @include skeleton.adyen-pe-skeleton();
        display: block;
        height: style.token(spacer-070);
        margin: 0;
        max-width: 270px;
        width: 100%;

        &--loading-content {
            @include skeleton.adyen-pe-skeleton-animation();
        }
    }
}
