@use '@integration-components/style';

.root {
    margin-top: style.token(spacer-040);
}

.content {
    padding-top: style.token(spacer-060);
}

.header {
    margin-bottom: style.token(spacer-060);
}
