@use '../../../../style' as style;

.adyen-pe-field-error {
    align-items: center;
    color: style.token(color-label-critical);
    display: flex;
    font-size: style.token(text-body-font-size);
    gap: style.token(spacer-040);

    &--with-top-margin {
        margin-top: style.token(spacer-030);
    }
}
