@use '@integration-components/style';

.adyen-pe-transaction-data {
    &__refund-response {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
        padding: style.token(spacer-100) 0;
        text-align: center;
    }

    &__refund-response-icon {
        &--success {
            color: style.token(color-background-success-strong);
        }

        &--error {
            color: style.token(color-background-critical-strong);
        }
    }
}
