@use '@integration-components/style';

.refundResponse {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: style.token(spacer-070);
    padding: style.token(spacer-100) 0;
    text-align: center;
}

.refundResponseIconSuccess {
    color: style.token(color-background-success-strong);
}

.refundResponseIconError {
    color: style.token(color-background-critical-strong);
}

.refundResponseActions {
    flex-grow: 0;
    width: max-content;
}

.refundResponseActions :global(.b-button-actions__container-wrapper),
.refundResponseActions :global(.b-button-actions__button-wrapper),
.refundResponseActions :global(.b-button-actions__button-wrapper > *) {
    width: max-content;
}

.inputHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: style.token(spacer-030);
}
