@use '../../../../style';

.adyen-pe-button-actions {
    flex-grow: 1;

    &__container-wrapper {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-040);
    }

    //@container (min-width: 250px) {
    &--buttons-start {
        flex-direction: row;
        justify-content: start;
    }

    &--buttons-end {
        column-gap: style.token(spacer-040);
        flex-direction: row;
        justify-content: end;
    }

    &--fill-container {
        column-gap: style.token(spacer-040);
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }

    &--space-between {
        flex-direction: unset;
        justify-content: space-between;
    }

    &--vertical-stack {
        // Empty as it is the default
    }
    //}
}
