@use '@integration-components/style' as style;

.adyen-pe-transaction-data {
    &__tags {
        display: flex;
        gap: style.token(spacer-040);
    }

    &__payment-method {
        align-items: center;
        display: flex;
        gap: style.token(spacer-050);
    }

    &__payment-method-logo-container {
        width: style.token(spacer-100);
    }
}
