@use '../../../style';

.adyen-pe-field-wrapper {
    display: flex;
    width: 100%;
}

.adyen-pe-field--20 {
    width: 20%;
}

.adyen-pe-field--30 {
    width: 30%;
}

.adyen-pe-field--40 {
    width: 40%;
}

.adyen-pe-field--50 {
    width: 50%;
}

.adyen-pe-field--60 {
    width: 60%;
}

.adyen-pe-field--70 {
    width: 70%;
}

.adyen-pe-field--80 {
    width: 80%;
}

.adyen-pe-field--col-70 {
    width: calc(70% - 8px);
}

.adyen-pe-field--col-30 {
    width: calc(30% - 8px);
}

.adyen-pe-field--col-50 {
    width: calc(50% - 8px);
}

.adyen-pe-field-wrapper > .adyen-pe-field:first-child {
    margin-right: 8px;

    [dir='rtl'] & {
        margin-left: 8px;
        margin-right: 0;
    }
}

.adyen-pe-field-wrapper > .adyen-pe-field:nth-child(2) {
    margin-left: 8px;

    [dir='rtl'] & {
        margin-left: 0;
        margin-right: 8px;
    }
}

.adyen-pe-field-wrapper:last-of-type > .adyen-pe-field {
    margin-bottom: 0;
}

.adyen-pe-input {
    background: style.token(color-background-primary);
    border: 1px solid style.token(color-outline-secondary);
    border-radius: style.token(border-radius-m);
    color: style.token(color-label-primary);
    display: block;
    font-family: inherit;
    font-size: style.token(text-body-font-size);
    height: 40px;
    outline: none;
    padding: 5px 8px;
    position: relative;
    transition:
        border 0.2s ease-out,
        box-shadow 0.2s ease-out;
    width: 100%;

    &__invalid-value {
        color: style.token(color-label-critical);
        max-width: 20rem;
        text-wrap: wrap;
    }
}

.adyen-pe-input:hover {
    border-color: style.token(color-outline-primary-hover);
}

.adyen-pe-input:required {
    box-shadow: none;
}

.adyen-pe-input[readonly],
.adyen-pe-input--disabled {
    background: style.token(color-background-tertiary-active);
    border-color: style.token(color-outline-primary);
}

.adyen-pe-input--disabled:hover {
    border-color: style.token(color-outline-primary);
}

.adyen-pe-input-wrapper {
    display: block;
    position: relative;
}

.adyen-pe-input-wrapper--block {
    display: block;
}

.adyen-pe-input-wrapper--autoresizable-textarea {
    display: flex;
    overflow: hidden;

    > textarea {
        overflow-y: scroll;
        resize: none;
    }
}

.adyen-pe-input__inline-validation {
    height: 16px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;

    [dir='rtl'] & {
        left: 14px;
        right: auto;
    }

    [dir='ltr'] & {
        left: auto;
        right: 14px;
    }
}

.adyen-pe-input__inline-validation--valid {
    color: style.token(color-label-on-background-success-weak);
}

.adyen-pe-input__inline-validation--invalid {
    color: style.token(color-label-critical);
}

.adyen-pe-input--valid {
    border-bottom-color: style.token(color-outline-success-hover);
}

.adyen-pe-input--error,
.adyen-pe-input--invalid,
.adyen-pe-input--error:hover,
.adyen-pe-input--invalid:hover {
    border-color: style.token(color-outline-critical-hover);
}

.adyen-pe-input::placeholder {
    color: style.token(color-label-secondary);
    font-weight: style.token(text-body-font-weight);
}

.adyen-pe-input--date {
    padding-right: 30px;
}

.adyen-pe-input:active,
.adyen-pe-input:focus,
.adyen-pe-input--focus,
.adyen-pe-input:active:hover,
.adyen-pe-input:focus:hover,
.adyen-pe-input--focus:hover {
    background: style.token(color-background-primary);
    outline: 1px solid style.token(color-outline-selected);
}

.adyen-pe-input[readonly],
.adyen-pe-input[readonly]:hover {
    background-color: style.token(color-background-tertiary-active);
    border-color: transparent;
    color: style.token(color-label-primary-hover);
    cursor: default;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.adyen-pe-input[type='number']::-webkit-inner-spin-button,
.adyen-pe-input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.adyen-pe-input[type='number'] {
    appearance: textfield;
}
