@use '../../../style';
@use '../../../style/skeleton' as skeleton;

.adyen-pe-secondary-nav {
    display: flex;
    flex-direction: row;

    &--mobile {
        flex-direction: column;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-090);
        width: 100%;

        &--mobile {
            flex-direction: column;
        }
    }

    &__skeleton {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);

        &--aside {
            margin-top: style.token(spacer-080);
            width: 20%;
        }

        &--content {
            background-color: transparent;
            border: 0;
            border-radius: style.token(border-radius-m);
            color: style.token(color-label-primary);
            cursor: pointer;
            display: flex;
            font: inherit;
            gap: style.token(spacer-070);
            justify-content: space-between;
            padding: style.token(spacer-070) style.token(spacer-060);
            width: 100%;
        }

        &-container {
            display: flex;
            flex-direction: row;
            gap: style.token(spacer-020);
        }

        &-item {
            border-radius: style.token(border-radius-s);
            display: block;
            height: 20px;
            width: 100%;

            /* stylelint-disable-next-line order/order */
            @include skeleton.adyen-pe-skeleton-animation();
        }
    }

    &__close-content--mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        list-style: none;
        margin-top: style.token(spacer-080);
        padding: 0;
    }

    &--sidebar-mobile {
        width: 100%;
    }

    &__item {
        align-items: flex-start;
        align-self: stretch;
        background-color: transparent;
        border: 0;
        border-radius: style.token(border-radius-m);
        color: style.token(color-label-primary);
        cursor: pointer;
        display: flex;
        font: inherit;
        gap: style.token(spacer-070);
        justify-content: space-between;
        padding: style.token(spacer-070) style.token(spacer-060);
        width: 100%;

        &-label {
            font-size: style.token(text-body-font-size);
            font-weight: style.token(text-body-stronger-font-weight);
            text-align: left;
        }

        &--active {
            background-color: style.token(color-background-primary-active);
        }

        &:hover {
            background-color: style.token(color-background-primary-hover);
        }
    }
}
