@use '../../../style';

.adyen-pe-secondary-nav {
    display: flex;
    flex-direction: row;

    &__container {
        display: flex;
        flex-direction: row;
        gap: style.token(spacer-090);
        width: 100%;

        &--mobile {
            flex-direction: column;
        }
    }

    &__close-content--mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-020);
        list-style: none;
        margin-top: style.token(spacer-080);
        padding: 0;
    }

    &__item {
        background-color: transparent;
        border: 0;
        border-radius: style.token(border-radius-m);
        color: style.token(color-label-primary);
        cursor: pointer;
        display: flex;
        font: inherit;
        justify-content: space-between;
        padding: style.token(spacer-040) style.token(spacer-050);
        width: 100%;

        &-label {
            font-size: style.token(text-body-font-size);
            font-weight: style.token(text-body-stronger-font-weight);
            text-align: left;
        }

        &--active {
            background-color: style.token(color-background-primary-active);
        }

        &:hover {
            background-color: style.token(color-background-primary-hover);
        }
    }
}
