@use '../../../style';

.adyen-pe-copy-text {
    $adyen-pe-root: &;
    align-items: center;
    display: inline-flex;
    text-decoration: none;

    &__text {
        color: style.token(color-label-primary);
    }

    &__label {
        font-size: style.token(text-caption-font-size);
        font-weight: style.token(text-caption-font-weight);
    }

    &__information {
        display: block;
        font-size: style.token(text-body-font-size);
        font-weight: style.token(text-body-font-weight);
        line-height: style.token(text-body-line-height);
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__container {
        align-items: center;
        display: inline-flex;
        gap: style.token(spacer-020);
    }

    &__icon {
        cursor: pointer;
        display: flex;

        &:hover {
            color: style.token(color-label-primary-hover);
        }
    }

    &:hover {
        background-color: inherit;
        color: inherit;
        cursor: default;
    }

    &--stronger {
        font-weight: style.token(text-body-strongest-font-weight);
    }
}
