@use '../../../../../../style';

//stylelint-disable no-invalid-position-at-import-rule
@import '../../../../../../style/breakpoints';

.adyen-pe-grant-list {
    display: flex;
    flex-direction: column;

    &__header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: style.token(spacer-070);
    }

    &__offer-button {
        width: fit-content;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-070);
    }

    // stylelint-disable order/order
    @include adyen-pe-screen-sm-and-up {
        gap: 0;

        &__offer-button {
            margin-bottom: 0;
        }

        &__header-container {
            flex-direction: row;
        }
    }
}
