@use '../../../../../../style';

.adyen-pe-grant-item {
    .adyen-pe-expandable-card__container {
        font-family: inherit;
        width: 100%;
    }

    &__status-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__alert {
        margin-top: style.token(spacer-080);
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        gap: style.token(spacer-010);
    }

    &__loan-id {
        cursor: pointer;
        display: flex;
        gap: style.token(spacer-040);
        justify-content: center;
        margin-top: style.token(spacer-010);
        width: fit-content;
    }

    &__text--secondary {
        color: style.token(color-label-secondary);
    }

    &__progress-bar {
        margin-top: style.token(spacer-040);
    }

    &__actions-bar {
        display: flex;
        margin-top: style.token(spacer-060);
    }

    &__main-action-button {
        flex: 1;

        .adyen-pe-button__label {
            justify-content: center;
        }
    }
}
