// Demo purposes only!

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: local('Poppins'), url('../font/poppins-regular.woff2') format('woff2');
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'), url('../font/poppins-600.woff2') format('woff2');
}

@font-face {
    font-family: Faro;
    font-style: normal;
    src: local('Faro'), url('../font/FaroDisplayLucky.woff2') format('woff2');
}

main * {
    color: #0f0f0f;
    font-family: Poppins, sans-serif;
}

body {
    background: #fff2d9;
}

.adyen-fp {
    &-amount {
        &--positive {
            color: #a9c939;
        }

        &--negative {
            color: #ff7052;
        }
    }

    &-button {
        border-radius: 50px;

        &--link {
            color: #3f3f3f;
            font-weight: 600;
        }

        &--filter.adyen-pe-button--active {
            background: #ffc85f;
            border: 2px solid #ffc85f;
        }

        &--filter.adyen-pe-button--active .adyen-pe-button__text:after {
            top: 0;
        }
    }

    &-data-grid {
        &--outline {
            border-radius: 12px;
            --tw-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            --tw-shadow-colored: 0 4px 16px var(--tw-shadow-color);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        }

        &__cell {
            border: none;
        }

        &__head .adyen-pe-data-grid__row .adyen-pe-data-grid__cell {
            background: #f5f2ef;
            color: #0f0f0f;
            font-size: 16px;
            font-weight: 600;
            text-transform: none;
        }
    }

    &-stats-bar__label,
    &-label,
    &-subtitle {
        color: #0f0f0f;
    }

    &-title {
        font-family: Faro;
        font-size: 32px;
        font-weight: normal;
    }

    &-subtitle {
        color: #0f0f0f;
        font-family: Faro;
        text-transform: none;
        font-size: 22px;
    }

    &-status--success:before {
        background: #a9c939;
    }

    &-stats-bar {
        background: #f5f2ef;
        border: 1px solid #cfcfcf;
        border-radius: 8px 8px 0 0;
    }

    &-details-section {
        border: 1px solid #cfcfcf;
        border-radius: 0 0 8px 8px;
        border-top: none;
        margin-top: 0;
    }

    &-details-container {
        --tw-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 4px 16px var(--tw-shadow-color);
        box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    }
}

//#ffc85f;

//border: 1px solid #ffba35;
