name: Compressed Size

on:
  pull_request:
    branches:
      - main
      - develop
      - group/*

jobs:
  is-pr-approved:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - id: check-approval
        run: gh pr status --json reviews -q '.currentBranch.reviews' | jq '.[]' | jq '.state' | grep APPROVED
        env:
          GH_TOKEN: ${{ github.token }}
        continue-on-error: true

      - run: echo ${{ steps.check-approval.outcome == 'success' }}
    outputs:
      approved: ${{ steps.check-approval.outcome == 'success' }}
  build:
    needs: is-pr-approved
    if: needs.is-pr-approved.outputs.approved == 'true'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: preactjs/compressed-size-action@v2
        with:
          install-script: "pnpm install"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          pattern: "**/dist/**/*.js"
          exclude: "{**/*.map,**/node_modules/**,**/src}"
