name: Pull Request workflow

on:
  pull_request:
    branches:
      - main
      - develop
      - group/*
      - bot/translations
    types: [opened, synchronize, reopened]
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      actions: write

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Run the preliminary setup steps
        uses: ./.github/actions/setup-env

      - name: Run unit tests
        run: npm run test
        env:
          TEST_ENV: '1'

      - name: Build library
        run: npm run build
        env:
          TEST_ENV: '1'