# Do a git tag and create a release when a release branch is merged (or on demand)
name: Create a tag and GitHub release

on:
  workflow_dispatch:

  pull_request:
    types: [closed]
    branches: ['main', 'releases/**', 'changeset-release/**']

jobs:
  create-github-release:
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest
    if: (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
      || (github.event.pull_request.merged == true && startsWith(github.head_ref, 'bump/'))
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Run the preliminary setup steps
        uses: ./.github/actions/setup-env

      - name: Create a build and export an artifact
        run: |
          pnpm run build:publish

      - name: Determine the release version
        run: |
          echo "NEW_VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Upload build as artifact for other jobs
        uses: actions/upload-artifact@v4
        with:
          name: adyen-adyen-platform-experience-web-${{ env.NEW_VERSION }}
          path: ./adyen-adyen-platform-experience-web-${{ env.NEW_VERSION }}.tgz
          retention-days: 1
          if-no-files-found: error
          compression-level: 0
          overwrite: true

      - name: Push tags and create a release
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run changeset -- tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the release upload URL
        id: get_release
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            const tag = `v${process.env.NEW_VERSION}`;
            const { data: release } = await github.rest.repos.getReleaseByTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: tag
            });
            // Write the output to the file defined by GITHUB_OUTPUT (new method)
            const outputFile = process.env.GITHUB_OUTPUT;
            fs.appendFileSync(outputFile, `upload_url=${release.upload_url}\n`);

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./adyen-adyen-platform-experience-web-${{ env.NEW_VERSION }}.tgz
          asset_name: adyen-adyen-platform-experience-web-${{ env.NEW_VERSION }}.tgz
          asset_content_type: application/gzip

      - name: Build umd file
        env:
          VERSION: ${{ env.NEW_VERSION }}
        run: |
          ./scripts/upload-assets/generate-umd-file.sh

      - name: Upload UMD file in new tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_REPO: ${{ github.repository }}
          ASSET_PATH: './platform-components_cdn_${{ env.NEW_VERSION }}.tar.gz'
          ASSET_NAME: 'platform-components_cdn_${{ env.NEW_VERSION }}.tar.gz'
        run: |
          echo "Targeting repository: $TARGET_REPO"
          echo "Using tag: ${{ env.NEW_VERSION }}"
          
          # Upload the new asset to the target repo using the new tag
          gh release upload "v${{ env.NEW_VERSION }}" "$ASSET_PATH" \
            --repo "$TARGET_REPO"

  trigger-npm-publish:
    permissions:
      contents: write
      actions: write
    needs: create-github-release
    uses: adyen/adyen-platform-experience-web/.github/workflows/npm-publish.yml@main
    secrets: inherit
    with:
      source_run_id: ${{ github.run_id }}

  upload-assets:
    permissions:
      contents: write
      actions: write
    needs: create-github-release
    uses: adyen/adyen-platform-experience-web/.github/workflows/upload-assets-to-release-tag.yml@main
    secrets: inherit
    with:
      environment_choice: 'live'
